<div>
  <div class="w-full">
    <div class="pt-2 w-full pl-2 flex items-center justify-center">
    </div>

    <app-loading *ngIf="loading"></app-loading>

    <div
      *ngIf="!loading && reservations.length === 0"
      class="flex flex-1 items-center justify-center mt-32">

      <div
        class="flex flex-col items-center text-center
           px-8 py-10
           bg-white dark:bg-neutral-900
           border border-neutral-200 dark:border-neutral-800
           rounded-xl shadow-sm
           max-w-md w-full">

        <!-- Ícone -->
        <i class="pi pi-inbox text-6xl text-blue-400 dark:text-blue-500 mb-4"></i>

        <!-- Título -->
        <h3 class="text-lg font-semibold text-gray-800 dark:text-white mb-2">
          {{
            isAdmin
              ? 'Nenhuma OS cadastrada'
              : 'Nenhuma OS atribuída a você'
          }}
        </h3>

        <!-- Subtexto -->
        <p class="text-sm text-gray-500 dark:text-gray-400 mb-4">
          {{
            isAdmin
              ? 'Não existem ordens de serviço no sistema.'
              : 'Você ainda não possui ordens de serviço vinculadas.'
          }}
        </p>

        <!-- Botão opcional -->
        @if(isAdmin) {
          <button
            (click)="router.navigate(['/contratos/listar'], {
              queryParams: { for: 'execution' }
            })"
            pButton
            type="button"
            label="Nova ordem de serviço"
            class="p-button-sm">
          </button>
        } @else {
          <button
            (click)="router.navigate(['/execucoes/analise-estoque'])"
            pButton
            type="button"
            label="Ver todas as ordens de serviço"
            class="p-button-sm">
          </button>
        }

      </div>

    </div>


    <div *ngIf="!loading && reservations.length > 0" class="flex flex-col items-center w-full px-4">
      <div class="w-full max-w-5xl mx-auto px-4 mt-6">

        <div class="flex items-center justify-between flex-wrap gap-3
              bg-white dark:bg-neutral-900
              border border-neutral-200 dark:border-neutral-800
              rounded-xl px-4 py-3 shadow-sm">

          <!-- CONTEXTO -->
          <div class="flex items-center gap-3">

            <div class="w-9 h-9 flex items-center justify-center rounded-lg"
                 [ngClass]="isAdmin
             ? 'bg-purple-100 dark:bg-purple-900/30 text-purple-600'
             : 'bg-blue-100 dark:bg-blue-900/30 text-blue-600'">

              <i class="pi"
                 [ngClass]="isAdmin ? 'pi pi-shield' : 'pi pi-user'"></i>
            </div>

            <div class="text-left">
              <div class="text-sm font-semibold text-gray-800 dark:text-white">
                {{ isAdmin ? 'Modo Administrador' : 'Minhas solicitações' }}
              </div>

              <div class="text-xs text-gray-500 dark:text-gray-400">
                {{
                  isAdmin
                    ? 'Você está visualizando todas as ordens de serviço do sistema'
                    : 'Você está visualizando apenas as ordens atribuídas a você'
                }}
              </div>
            </div>

          </div>

        </div>

      </div>

      <p-menu #menu [model]="contextItems" [popup]="true"></p-menu>
      <ol class="flex flex-wrap justify-center gap-4" aria-haspopup="true">
        <li *ngFor="let r of reservations; index as i"
            class="relative w-full max-w-sm cursor-pointer transition-transform duration-300 hover:scale-105 hover:-translate-y-1 m-2"
            (click)="router.navigate(['/requisicoes/gerenciamento/execucao'], { state: { reserve: r } })"

        >

          <button
            class="absolute top-4 right-4 z-10 text-gray-500 hover:text-gray-800 dark:text-neutral-500 dark:hover:text-neutral-50"
            (click)="openContextMenu($event, r); $event.stopPropagation()"
            aria-haspopup="true"
            aria-controls="menu"
            aria-expanded="false"
          >
            <i class="pi pi-ellipsis-v text-xl"></i>
          </button>

          <div
            class="flex flex-col border border-gray-200 dark:border-gray-700 rounded-2xl shadow-md hover:shadow-lg bg-white dark:bg-gray-900 p-6">
            <div class="flex items-center gap-2 mb-4 flex-wrap">
              <!-- TIPO -->
              <span class="px-3 py-1 text-xs font-semibold rounded-full text-white bg-blue-600 dark:bg-blue-400">
                INSTALAÇÃO
              </span>
                          <!-- CONTEXTO -->
                          <span class="px-3 py-1 text-xs font-semibold rounded-full"
                                [ngClass]="isAdmin
                      ? 'bg-purple-600 text-white'
                      : 'bg-blue-100 text-blue-700 dark:bg-blue-900/30 dark:text-blue-300'">

                {{ isAdmin ? 'VISÃO GLOBAL' : 'ATRIBUÍDO A VOCÊ' }}

              </span>
            </div>

            <h3 class="text-xl leading-[1.15rem] font-light text-left">{{ r.description }}</h3>

            <div class="mt-4 space-y-2 text-sm text-gray-700 dark:text-gray-200">
              <div class="flex items-center">
                <span class="material-icons text-blue-500 text-base mr-1">verified</span>
                Solicitação atribuída por {{ r.assignedBy }}
              </div>
            </div>

            <p class="text-base text-left pt-5 text-gray-500 dark:text-gray-400">
              {{ getItemsQuantity(r) }} itens pendentes
            </p>
          </div>
        </li>
      </ol>
    </div>

    <p-toast></p-toast>

  </div>
</div>
