<table class="border-collapse cursor-default font-light select-none table table-xs z-10" id="tabela-materiais">
  <thead>
  <tr>
    <th class="border-b border-slate-600 p-2 bg-indigo-900 text-white text-left">Código</th>
    <th class="border-b border-slate-600 bg-indigo-900 text-white min-w-64 text-left">Nome Material</th>
    <th class="border-b border-slate-600 bg-indigo-900 text-white min-w-64 text-left">Marca</th>
    <th class="border-b border-slate-600 bg-indigo-900 text-white min-w-32 text-left">Unid. Compra</th>
    <th class="border-b border-slate-600 bg-indigo-900 text-white min-w-36 text-left">Unid. Requisição</th>
    <th class="border-b border-slate-600 bg-indigo-900 text-white min-w-28 text-left">Tipo Material</th>
    <th class="border-b border-slate-600 bg-indigo-900 text-white min-w-32 text-left">Grupo Material</th>
    <th class="border-b border-slate-600 bg-indigo-900 text-white min-w-32 text-left">Qtde. Estoque</th>
    <th class="border-b border-slate-600 bg-indigo-900 text-white min-w-16 text-left">Inativo</th>
    <th class="border-b border-slate-600 bg-indigo-900 text-white min-w-80 text-left">Empresa</th>
    <th class="border-b border-slate-600 bg-indigo-900 text-white min-w-52 text-left">Almoxarifado</th>
    <th class="border-b border-slate-600 bg-indigo-900 text-white text-left" colspan="2">Ação</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let material of materiais" class="odd:bg-white even:bg-gray-200">
    <td class="border-b-2 border-slate-400 p-2">{{ material.idMaterial }}</td>
    <td class="border-b-2 border-slate-400 p-2">{{ material.nomeMaterial }}</td>
    <td class="border-b-2 border-slate-400 p-2">{{ material.marcaMaterial }}</td>
    <td class="border-b-2 border-slate-400 p-2">{{ material.unidadeCompra }}</td>
    <td class="border-b-2 border-slate-400 p-2">{{ material.unidadeRequisicao }}</td>
    <td class="border-b-2 border-slate-400 p-2">{{ material.tipoMaterial }}</td>
    <td class="border-b-2 border-slate-400 p-2">{{ material.grupoMaterial}}</td>
    <td class="border-b-2 border-slate-400 p-2">{{ material.qtdeEstoque }}</td>
    <td class="border-b-2 border-slate-400 p-2">{{ material.inativo }}</td>
    <td class="border-b-2 border-slate-400 p-2">{{ material.empresa}}</td>
    <td class="border-b-2 border-slate-400 p-2">{{ material.almoxarifado }}</td>
    <td class="border-b-2 border-slate-400 p-2 cursor-pointer">
      <button (click)="deleteMaterial(material.idMaterial, material.nomeMaterial)"
              class="cursor-pointer material-icons text-red-600">delete
      </button>
    </td>
    <td class="border-b-2 border-slate-400 p-2 cursor-pointer">
      <button (click)="updateMaterial(material.idMaterial, material)" class="cursor-pointer material-icons">edit</button>
    </td>
  </tr>
  </tbody>
</table>
