<div class="h-screen shadow z-20 bg-neutral-50 border-r border-neutral-300 fixed 2xl:block 2xl:w-72 mb-10">
  <!-- Botão de menu para mobile -->
  <button class="block 2xl:hidden p-2 text-white" (click)="toggleMenu()">
    <svg width="20px" height="20px" viewBox="0 -2 20 20" fill="black">
      <g>
        <path d="M4,5h12v2H4V5z M4,9h12v2H4V9z M4,13h12v2H4V13z"></path>
      </g>
    </svg>
  </button>

  <div class="w-screen 2xl:block 2xl:w-auto" [ngClass]="{'block': menuOpen, 'hidden': !menuOpen}">
    <h3 class="text-center border-b p-4 mb-5 cursor-default select-none poppins-medium text-neutral-700">
      {{ title }}
    </h3>
    <ul class="menu text-base-content min-h-full p-4">
      <li *ngFor="let link of links">
        <a [routerLink]="link.path" >
          {{ link.title }}
        </a>
      </li>
    </ul>
  </div>

</div>
