<header class="mb-20">
  <div class="flex items-center justify-between bg-neutral-200 fixed top-0 w-full h-10 z-20">
    <div class="items-center justify-between h-full hidden 2xl:block">
      <img src="assets/lumos.png" alt="Logo" class="ml-3 w-10">
    </div>

    <div class="flex h-screen w-72 p-5 text-neutral-700 flex-col absolute right-0 top-10 bg-neutral-200 2xl:w-auto items-center 2xl:justify-between 2xl:h-full 2xl:static 2xl:block 2xl:flex-row 2xl:p-2"
         [ngClass]="{'block': navOpen, 'hidden': !navOpen}">
      <a href="#" class="cursor-default rounded mr-5 hover:text-red-600 hover:font-bold">Início</a>
      <a href="#" class="cursor-default rounded mr-5 hover:text-red-600 hover:font-bold mt-3 2xl:mt-0">Atendimentos</a>
      <a href="#" class="cursor-default rounded mr-5 hover:text-red-600 hover:font-bold mt-3 2xl:mt-0">Equipes</a>
      <a class="cursor-default bg-neutral-50 text-blue-600 border-r-2 border-l-2 border-neutral-300 p-3 mr-5 hover:font-bold mt-3 2xl:mt-0">Estoque</a>
      <a href="#" class="cursor-default rounded mr-5 hover:text-red-600 hover:font-bold mt-3 2xl:mt-0">Requisições</a>
      <a href="#" class="cursor-default rounded mr-5 hover:text-red-600 hover:font-bold mt-3 2xl:mt-0">Pontos de Iluminação Pública</a>
    </div>

    <div class="flex items-center justify-between relative">
      <div class="flex items-center cursor-default group" (click)="toggleAccountMenu()">
        <span class="text-neutral-700 account-name group-hover:text-red-600 text-xs group-hover:font-bold mr-4 select-none ml-4 2xl:ml-0">Marcos</span>
      </div>
      <div *ngIf="accountMenuOpen" class="text-neutral-700 absolute top-6 2xl:right-0 bg-neutral-200 border border-neutral-300 shadow p-2 w-32 z-10" (mouseleave)="closeAccountMenu()">
        <ol>
          <li class="cursor-default hover:text-red-600 hover:font-bold">Minha conta</li>
          <li class="cursor-default hover:text-red-600 hover:font-bold">Sair</li>
        </ol>
      </div>
    </div>

    <button class="block 2xl:hidden p-2 text-white" (click)="toggleNav()">
      <!-- Ícone de Menu -->
      <svg width="20px" height="20px" viewBox="0 -2 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink" fill="black">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier"><title>align_text_distribute [#914]</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="white" fill-rule="evenodd">
            <g id="Dribbble-Light-Preview" transform="translate(-300.000000, -4161.000000)" fill="black">
              <g id="icons" transform="translate(56.000000, 160.000000)">
                <path d="M244,4017 L264,4017 L264,4015 L244,4015 L244,4017 Z M244,4003 L264,4003 L264,4001 L244,4001 L244,4003 Z M244,4010 L264,4010 L264,4008 L244,4008 L244,4010 Z"
                      id="align_text_distribute-[#914]"></path>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </button>
  </div>
  <ol class="flex justify-center border border-neutral-300 bg-neutral-50 p-2 fixed w-full top-10 ">
    <li class="mb-1 mr-8 text-blue-600 font-bold text-xs relative">
      <a href="#" class="block cursor-default"><span class="text-blue-600 font-bold">+</span> Cadastrar Material</a>
      <div class="absolute left-0 right-0 -bottom-3 border-b-[3px] border-blue-500"></div>
    </li>
    <li class="hover:text-rose-900 hover:font-bold text-xs mb-1 mr-8">
      <a href="#" class="cursor-default"><span class="font-bold">+</span> Cadastrar Tipo de Material</a>
    </li>
    <li class="cursor-default hover:text-rose-900 hover:font-bold text-xs mb-1 mr-8">
      <a href="#" class="cursor-default"><span class="font-bold">+</span> Cadastrar Grupo de Material</a>
    </li>
    <li class="cursor-default hover:text-rose-900 hover:font-bold text-xs">
      <a href="#" class="cursor-default"><span class="font-bold">+</span> Cadastrar Almoxarifado</a>
    </li>
  </ol>
</header>
