<header>
  @if (authService.isLoggedIn$ | async) {
    <div class="card">
      <p-menubar>
        <ng-template #start>
          <div
            class="text-center select-none poppins-medium flex cursor-pointer items-center"
            (click)="toggleMenu()">
            <span class="pi pi-bars px-4"></span>
            <h3 class="bg-gradient-to-r from-indigo-800 via-indigo-500 to-indigo-300 text-transparent bg-clip-text">
              Thryon System™</h3>
          </div>


        </ng-template>
        <ng-template #end>
          <div class="flex items-center justify-center">
            <div class="flex items-center justify-center gap-2">
              <span class="pi pi-bell cursor-pointer mr-2 text-xl" (click)="op.toggle($event)"></span>
              <p-menu class="flex justify-center" styleClass="w-full md:w-60" #op [popup]="true">
                <ng-template #item let-options>
                  <a pRipple class="flex items-center p-menu-item-link" (click)="options.command()">
                    <span [class]="options.icon"></span>
                    <span class="ml-2">{{ options.label }}</span>
                    <p-badge *ngIf="options.badge" class="ml-auto" [value]="options.badge"/>
                    <span *ngIf="options.shortcut"
                          class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">{{ options.shortcut }}</span>
                  </a>
                </ng-template>
                <ng-template #end>
                  <div class="flex flex-col items-center justify-center h-full p-4 gap-2">
                    <i class="fas fa-bell-slash"></i>
                    <p class="text-xs text-center">Nenhuma notificação no momento</p>
                  </div>
                  <!--                <div>-->
                  <!--                  <span class="font-medium text-surface-900 dark:text-surface-0 block mb-2">Share this document</span>-->
                  <!--                  <p-inputgroup>-->
                  <!--                    <input pInputText value="https://primeng.org/12323ff26t2g243g423g234gg52hy25XADXAG3" readonly class="w-[25rem]" />-->
                  <!--                    <p-inputgroup-addon>-->
                  <!--                      <i class="pi pi-copy"></i>-->
                  <!--                    </p-inputgroup-addon>-->
                  <!--                  </p-inputgroup>-->
                  <!--                </div>-->
                  <!--                <div>-->
                  <!--                  <span class="font-medium text-surface-900 dark:text-surface-0 block mb-2">Invite Member</span>-->
                  <!--                  <div class="flex">-->
                  <!--                    <p-inputgroup>-->
                  <!--                      <input pInputText disabled />-->
                  <!--                      <button pButton label="Invite" icon="pi pi-users"></button>-->
                  <!--                    </p-inputgroup>-->
                  <!--                  </div>-->
                  <!--                </div>-->
                  <!--                <div>-->
                  <!--                  <span class="font-medium text-surface-900 dark:text-surface-0 block mb-2">Team Members</span>-->
                  <!--                  <ul class="list-none p-0 m-0 flex flex-col gap-4">-->
                  <!--                    <li *ngFor="let member of members" class="flex items-center gap-2">-->
                  <!--                      <img [src]="'https://primefaces.org/cdn/primeng/images/demo/avatar/' + member.image" style="width: 32px" />-->
                  <!--                      <div>-->
                  <!--                        <span class="font-medium">{{ member.name }}</span>-->
                  <!--                        <div class="text-sm text-muted-color">{{ member.email }}</div>-->
                  <!--                      </div>-->
                  <!--                      <div class="flex items-center gap-2 text-muted-color ml-auto text-sm">-->
                  <!--                        <span>{{ member.role }}</span>-->
                  <!--                        <i class="pi pi-angle-down"></i>-->
                  <!--                      </div>-->
                  <!--                    </li>-->
                  <!--                  </ul>-->
                  <!--                </div>-->
                </ng-template>
              </p-menu>
            </div>
            <div class="flex items-center justify-center gap-2">
              <p-menu [model]="options" class="flex justify-center" styleClass="w-full md:w-60" #menu [popup]="true">
                <ng-template #item let-options>
                  <a pRipple class="flex items-center p-menu-item-link" (click)="options.command()">
                    <span [class]="options.icon"></span>
                    <span class="ml-2">{{ options.label }}</span>
                    <p-badge *ngIf="options.badge" class="ml-auto" [value]="options.badge"/>
                    <span *ngIf="options.shortcut"
                          class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">{{ options.shortcut }}</span>
                  </a>
                </ng-template>
                <ng-template #end>
                  <button pRipple
                          class="relative overflow-hidden w-full border-0 bg-transparent flex items-start p-2 pl-4 hover:bg-surface-100 dark:hover:bg-surface-800 rounded-none cursor-pointer transition-colors duration-200">
                    <p-avatar
                      [label]="authService.getUser().username.charAt(0).toUpperCase()"
                      image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"
                      (click)="menu.toggle($event)"
                      class="cursor-pointer bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-white mr-2"/>
                    <span class="inline-flex flex-col">
                    <span class="font-bold">{{ authService.getUser().username }}</span>
                    <span class="text-sm" *ngFor="let role of authService.getUser().getRoles()">{{ role }}</span>
                  </span>
                  </button>
                </ng-template>
              </p-menu>
              <p-avatar
                [label]="authService.getUser().username.charAt(0).toUpperCase()"
                image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"
                (click)="menu.toggle($event)"
                class="cursor-pointer bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-white"/>
            </div>
          </div>
        </ng-template>
      </p-menubar>
    </div>
  } @else {
    <div class="flex justify-center items-center">
      <img class="rounded" ngSrc="/icon-192.png" alt="logo" height="25" width="25">
    </div>
  }
</header>
