<div class="flex mt-[3rem] h-fit" #top>
  <div class="w-full">
    <div class="pt-2 border-b w-full pl-2 flex items-center justify-between">
      <div class="breadcrumbs text-sm">
        <ul class="select-none">
          <li><a href="/">Início</a></li>
          <li><a href="/contratos">Contratos</a></li>
          <li>Lista</li>
        </ul>
      </div>
      <h3 class="text-medium pr-5 hidden lg:block font-medium text-neutral-600">{{ reason === 'view' ? 'Selecione um contrato para ver os detalhes' : 'Selecione um contrato para importar a pré-medição' }}</h3>
    </div>


    <app-loading *ngIf="loading"></app-loading>

    <div class="border-b w-full pl-2  pt-2" *ngIf="!loading">
      <ol class="flex flex-wrap">
        <li *ngFor="let c of contracts; index as i;"
            class=" cursor-pointer transform transition-transform duration-300 hover:scale-1  m-1 hover:shadow-lg"
            (click)="reason === 'view' ? showItems(dialog, c.contractId) : router.navigate(['/pre-medicao/importar/contrato/' + c.contractId])">
          <div class="flex border rounded px-4 py-2 card-execution min-h-60 h-full">
            <div class="flex flex-col items-center justify-center mr-10">
              <div class="h-full w-1 bg-neutral"></div>
              <div class="rounded-full bg-neutral p-1">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                     fill="white">
                  <path
                    d="M160-120v-80h480v80H160Zm226-194L160-540l84-86 228 226-86 86Zm254-254L414-796l86-84 226 226-86 86Zm184 408L302-682l56-56 522 522-56 56Z"/>
                </svg>
              </div>
            </div>

            <div class="flex flex-col mr-10 w-96">
              <div class="flex items-center justify-between">
                <span class="badge rounded mb-4 mt-2 bg-neutral-200 text-neutral-700">
                  {{ utils.getStatus(c.contractStatus) }}
                </span>
                <h2 class="text-xl text-neutral-800 leading-[3rem] font-semibold">{{ c.itemQuantity }} itens</h2>
              </div>
              <div class="flex item-center justify-between leading-[3rem]">
                <h3 class="text-xl text-neutral-800 font-semibold">Contrato {{ c.number }}</h3>
                <h3 class="text-lg text-neutral-800 font-normal badge bg-[#d0e4fd] rounded p-3">{{ c.contractValue | currency:'BRL':'symbol':'1.2-2' }}</h3>
              </div>
              <h3 class="text-lg text-neutral-800 leading-[1.3rem] font-normal">{{ c.contractor }}</h3>
              <h3 class="text-base text-neutral-800 leading-[1.3rem] font-light">{{ c.address }}</h3>
              <h3 class="text-base text-neutral-800 leading-[1.3rem] font-light">{{ c.cnpj }}</h3>
              <h3 class="text-base text-neutral-800 leading-[3rem] font-light">{{ c.phone }}</h3>

              <span class="text-sm text-neutral-600 flex items-center">Criado por {{ c.createdBy }}<span
                class="material-icons text-sm ml-1 text-blue-500">verified</span></span>
              <!--            <span class="text-xs">{{ p.createdAt }} em {{ c. }}</span>-->
            </div>
          </div>
        </li>
      </ol>
    </div>
  </div>

  <dialog #dialog class="modal">
    <div class="modal-box rounded-xl shadow-lg">
      <h3 class="font-bold text-lg mb-4 text-indigo-700">Itens</h3>

      <table>
        <tr class="report-base-header">
          <th>ITEM</th>
          <th>DESCRIÇÃO</th>
          <th>QUANTIDADE TOTAL CONTRATADA</th>
          <th>PREÇO UNITÁRIO CONTRATADO</th>
          <th>PREÇO TOTAL CONTRATADO</th>
        </tr>
        <tr *ngFor="let i of contractItems">
          <td>{{ i.number }}</td>
          <td>{{ i.description }}</td>
          <td>{{ i.contractedQuantity }}</td>
          <td>{{ i.unitPrice | currency:'BRL':'symbol':'1.2-2' }}</td>
          <td>{{ parseFloat(i.unitPrice) * i.contractedQuantity | currency:'BRL':'symbol':'1.2-2' }}</td>
          </tr>
        <tr class="report-base-total">
          <td colspan="6">TOTAL GERAL</td>
          <td>{{ getTotalPrice() | currency:'BRL':'symbol':'1.2-2' }}</td>
        </tr>
      </table>
    </div>
  </dialog>

  <app-screen-message *ngIf="utils.serverMessage" [alertType]="utils.alertType" [message]="utils.serverMessage"
                      class="absolute right-0"></app-screen-message>
</div>
