<section class="flex flex-col justify-center lg:justify-evenly lg:flex-row lg:items-start h-[92.6vh] items-center">
  <div class="flex flex-col justify-center lg:mt-52">
    <h3 class="poppins-regular">Lumos™</h3>
    <p class="roboto-light select-none text-3xl leading-4">Insira suas credenciais<br><br>para acessar o sistema.</p>
  </div>
  <div class="flex justify-center">
    <div class="card w-96 bg-base-100 shadow mt-20 mb-20 lg:mt-40 rounded">
      <form #myForm="ngForm" (ngSubmit)="login(myForm)" class="card-body">
        <div class="items-center
         mt-2">
          <label class="input input-bordered flex items-center gap-2 mb-2">
            <span class="material-icons">person</span>
            <input type="text" class="grow" placeholder="Usuário ou Email" name="username" [(ngModel)]="username" required />
          </label>
          <label class="input input-bordered flex items-center gap-2 mb-2">
            <span class="material-icons">key</span>
            <input [type]="showPassword ? 'text' : 'password'" placeholder="********" class="grow" name="password" [(ngModel)]="password" required />
          </label>
          <div class="flex my-4">
            <input type="checkbox" class="checkbox mr-2" (change)="togglePasswordVisibility()"><span class="poppins-light">Mostrar Senha</span>
          </div>
        </div>
        <div class="card-actions justify-end">
          <button class="btn btn-primary w-full" type="submit">Entrar</button>
        </div>
        <div class="mt-5">
          <p class="hover:underline cursor-pointer text-center select-none">Esqueceu a senha?</p>
        </div>
      </form>
    </div>
  </div>
</section>

