version: "3.9"

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/log:/var/log/nginx
    restart: always
    mem_limit: 64m

  springboot-app:
    build: ./springboot-app
    container_name: springboot-app
    network_mode: host

    environment:
      SPRING_PROFILES_ACTIVE: production
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      DB_HOST: ${DB_HOST}
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_NAME: ${DB_NAME}
      DB_PASSWORD: ${DB_PASSWORD}
      JAVA_TOOL_OPTIONS: >
        -XX:+UseG1GC
        -XX:InitialRAMPercentage=30.0
        -XX:MaxRAMPercentage=70.0
        -XX:MaxMetaspaceSize=256m
        -XX:+ExitOnOutOfMemoryError
        --enable-preview

    restart: always
    depends_on:
      puppeteer-service:
        condition: service_started

  puppeteer-service:
    build:
      context: ./puppeteer-service
    container_name: puppeteer-service
    ports:
      - "127.0.0.1:3000:3000"
    environment:
      NODE_ENV: production
    mem_limit: 400m
    restart: always

networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: "172.18.0.0/16"

volumes:
  shared-data:
