services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/log:/var/log/nginx
    #      - ./certbot/conf:/etc/letsencrypt
    #     - ./certbot/www:/var/www/certbot
    restart: always
    mem_limit: 64m

    #  certbot:
    #   image: certbot/certbot
    #   container_name: certbot
    #  volumes:
    #   - ./certbot/conf:/etc/letsencrypt
    #  - ./certbot/www:/var/www/certbot
    #command: certonly --webroot -w /var/www/certbot --email marcostfandrade@gmail.com --agree-tos --no-eff-email -d spring.thryon.com.br -d fileserver.thryon.com.br -d gostock.thryon.com.br --force-renewal
    #restart: on-failure

  springboot-app:
  build: ./springboot-app
  container_name: springboot-app
  network_mode: host

  environment:
    SPRING_PROFILES_ACTIVE: production
    SMTP_PASSWORD: ${SMTP_PASSWORD}
    DB_HOST: ${DB_HOST}
    DB_PORT: 5432
    DB_USER: ${DB_USER}
    DB_NAME: ${DB_NAME}
    DB_PASSWORD: ${DB_PASSWORD}

    JAVA_TOOL_OPTIONS: >
      -XX:+UseG1GC
      -XX:InitialRAMPercentage=30.0
      -XX:MaxRAMPercentage=70.0
      -XX:MaxMetaspaceSize=256m
      -XX:+ExitOnOutOfMemoryError
      --enable-preview

  restart: always
  depends_on:
    - puppeteer-service
    #-minio

  puppeteer-service:
    build:
      context: ./puppeteer-service
    container_name: puppeteer-service
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    mem_limit: 400m
    restart: always

  #minio:
    #image: minio/minio
    #container_name: minio
    #ports:
     # - "9000:9000" # API MinIO
      #- "9090:9090" # Console MinIO
    #environment:
     # MINIO_ROOT_USER: admin
      #MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
    #command: server --console-address ":9090" /data
    #volumes:
     # - ./minio-data:/data
    #mem_limit: 512m
    #restart: always

networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: "172.18.0.0/16" # Faixa de IP fixa

volumes:
  shared-data:
