version: "3.9"

services:
  nginx:
    image: nginx:1.25
    container_name: nginx
    network_mode: host
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /home/marcos/nginx/ssl:/etc/nginx/ssl:ro
    restart: always


  springboot-app:
    build: ./springboot-app
    container_name: springboot-app
    network_mode: host

    environment:
      SPRING_PROFILES_ACTIVE: production
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      DB_HOST: ${DB_HOST}
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_NAME: ${DB_NAME}
      DB_PASSWORD: ${DB_PASSWORD}
      R2_ACCOUNT_ID: ${R2_ACCOUNT_ID}
      R2_ACCESS_KEY: ${R2_ACCESS_KEY}
      R2_SECRET_KEY: ${R2_SECRET_KEY}
      JAVA_TOOL_OPTIONS: >
        -XX:+UseG1GC
        -XX:InitialRAMPercentage=30.0
        -XX:MaxRAMPercentage=70.0
        -XX:MaxMetaspaceSize=256m
        -XX:+ExitOnOutOfMemoryError
        --enable-preview

    restart: always
    depends_on:
      puppeteer-service:
        condition: service_started

  puppeteer-service:
    build:
      context: ./puppeteer-service
    container_name: puppeteer-service
    ports:
      - "127.0.0.1:3000:3000"
    environment:
      NODE_ENV: production
    mem_limit: 400m
    restart: always

networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: "172.18.0.0/16"

volumes:
  shared-data:
