services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/log:/var/log/nginx
    restart: always
    mem_limit: 64m
    extra_hosts:
    - "host.docker.internal:host-gateway"

  puppeteer-service:
    build:
      context: ./puppeteer-service
    container_name: puppeteer-service
    expose:
      - "3000"
    environment:
      NODE_ENV: production
    mem_limit: 350m
    restart: always

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9090:9090"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
    command: server --console-address ":9090" /data
    volumes:
      - ./minio-data:/data
    mem_limit: 512m
    restart: always

networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: "172.18.0.0/16"

volumes:
  shared-data:
