<div class="flex mt-[3rem] h-fit" #top>
  <div class="w-full">
    <div class="pt-2 border-b w-full pl-2 flex items-center justify-between">
      <div class="breadcrumbs text-sm">
        <ul class="select-none">
          <li><a>Início</a></li>
          <li><a>Pré-medições</a></li>
          <li>Importar Dados</li>
        </ul>
      </div>
    </div>

    @if (!loading && errors.length === 0) {
      <div class="p-8 border-b">
        <div class="flex items-center mb-5">
          <h2 class="font-bold text-2xl mr-2">1</h2>
          <p class="font-bold text-lg">Observe os dados abaixo com atenção, somente esses itens serão reconhecidos
            no cabeçalho da planilha.
            <span class="underline font-bold text-xl">Utilize apenas os que você precisar</span></p>
        </div>
        <ol class="flex flex-wrap">
          <li *ngFor="let header of contractReferenceItems"
              class="badge mr-2 mb-2 rounded bg-[#5542a9] text-white p-3">{{ header.nameForImport }}
          </li>
        </ol>
        <div class="flex flex-col mt-5 text-justify justify-center">
          <h2 class="text-xl font-bold text-gray-900">
            Explicação
          </h2>
          <p class="leading-normal">Observe que existem valores com números a frente que representa o tamanho. Exemplo:
            <span
              class="badge mr-2 rounded bg-[#5542a9] text-white p-3">POSTE CIMENTO 7M</span>ou até <span
              class="badge mr-2 rounded bg-[#5542a9] text-white p-3">BRAÇO DE 3,5</span>Isso é
            <strong>crucial</strong> para fazer o vínculo com o estoque de materiais. Se o cabeçalho da
            planilha não estiver exatamente igual, não será possível reconhecer os dados e importar as pré-medições.
          </p>
          <h2 class="text-xl font-bold text-gray-900 mt-2">Observação</h2>
          <p>O envio dos dados referentes a
            <span class="underline">Cabo</span>,
            <span class="underline">Troca de Ponto</span>,
            <span class="underline">Relé</span>,
            <span class="underline">Projeto</span> e
            <span class="underline">Serviço</span> são opcionais. Já que os sistema irá calcula-los automaticamente.</p>
        </div>
      </div>

      <div class="p-8 border-b">
        <div class="flex items-center  mb-5">
          <h2 class="font-bold text-2xl mr-2">2</h2>
          <p class="font-bold text-xl">Baixar planilha modelo</p>
        </div>
        <div class="flex flex-col items-center">
          <p class="mb-2">Utilize o botão abaixo para baixar uma planilha modelo que deverá ser editada</p>
          <button type="button"
                  class="text-neutral-50 bg-[#5542a9] hover:bg-[#5542a9]/90 focus:ring-4 focus:outline-none focus:ring-[#5542a9]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#5542a9]/50 me-2 mb-2"
          >
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 48 48">
              <path fill="#4CAF50" d="M41,10H25v28h16c0.553,0,1-0.447,1-1V11C42,10.447,41.553,10,41,10z"></path>
              <path fill="#FFF"
                    d="M32 15H39V18H32zM32 25H39V28H32zM32 30H39V33H32zM32 20H39V23H32zM25 15H30V18H25zM25 25H30V28H25zM25 30H30V33H25zM25 20H30V23H25z"></path>
              <path fill="#2E7D32" d="M27 42L6 38 6 10 27 6z"></path>
              <path fill="#FFF"
                    d="M19.129,31l-2.411-4.561c-0.092-0.171-0.186-0.483-0.284-0.938h-0.037c-0.046,0.215-0.154,0.541-0.324,0.979L13.652,31H9.895l4.462-7.001L10.274,17h3.837l2.001,4.196c0.156,0.331,0.296,0.725,0.42,1.179h0.04c0.078-0.271,0.224-0.68,0.439-1.22L19.237,17h3.515l-4.199,6.939l4.316,7.059h-3.74V31z"></path>
            </svg>
            Baixar Planilha Modelo
          </button>
        </div>
      </div>
      <div class="p-8 border-b">
        <div class="flex items-center mb-5">
          <h2 class="font-bold text-2xl mr-2">3</h2>
          <p class="font-bold text-xl">Inserir informações</p>
        </div>
        <div class="flex flex-col items-center">
          <svg xmlns="http://www.w3.org/2000/svg" height="75px" viewBox="0 -960 960 960" width="75px" fill="#5542a9">
            <path
              d="M560-80v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T903-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v120h-80v-80H520v-200H240v640h240v80H240Zm280-400Zm241 199-19-18 37 37-18-19Z"/>
          </svg>
          <p class="text-sm lg:w-[60%] mt-3">Abra a planilha e apague os dados de exemplo sem modificar o cabeçalho,
            insira os dados necessários nas colunas corretas. Não tente salvar as informações em uma nova planilha,
            essa ação poderá ocasionar erros e comprometer os seus dados.</p>
        </div>
      </div>
      <div class="p-8 border-b">
        <div class="flex items-center  mb-2">
          <h2 class="font-bold text-2xl mr-2">4</h2>
          <p class="font-bold text-xl">Exportar os dados</p>
        </div>
        <div class="flex flex-col items-center">
          <svg xmlns="http://www.w3.org/2000/svg" height="75px" viewBox="0 -960 960 960" width="75px" fill="#black">
            <path
              d="M440-200h80v-167l64 64 56-57-160-160-160 160 57 56 63-63v167ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"/>
          </svg>
        </div>

        <div
          class="flex flex-col items-center justify-center">
          <div class="label">
            <span class="label-text">Clique no botão abaixo e selecione a planilha para exportar os materiais</span>
          </div>
          <input type="file" class="hidden"
                 #inputFile
                 accept=".xlsx, .xls" (change)="onFileChange($event)"/>

          <button type="button"
                  class="text-neutral-50 bg-[#5542a9] hover:bg-[#5542a9]/90 focus:outline-none focus:ring-[#5542a9]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2"
                  (click)="inputFile.click()">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 48 48">
              <path fill="#4CAF50" d="M41,10H25v28h16c0.553,0,1-0.447,1-1V11C42,10.447,41.553,10,41,10z"></path>
              <path fill="#FFF"
                    d="M32 15H39V18H32zM32 25H39V28H32zM32 30H39V33H32zM32 20H39V23H32zM25 15H30V18H25zM25 25H30V28H25zM25 30H30V33H25zM25 20H30V23H25z"></path>
              <path fill="#2E7D32" d="M27 42L6 38 6 10 27 6z"></path>
              <path fill="#FFF"
                    d="M19.129,31l-2.411-4.561c-0.092-0.171-0.186-0.483-0.284-0.938h-0.037c-0.046,0.215-0.154,0.541-0.324,0.979L13.652,31H9.895l4.462-7.001L10.274,17h3.837l2.001,4.196c0.156,0.331,0.296,0.725,0.42,1.179h0.04c0.078-0.271,0.224-0.68,0.439-1.22L19.237,17h3.515l-4.199,6.939l4.316,7.059h-3.74V31z"></path>
            </svg>
            Buscar Planilha no meu computador
          </button>
          <p class="mt-2 text-sm text-gray-600">
            Formato de arquivo aceito: <span class="badge bg-green-800 text-white rounded p-2">.xlsx</span>
          </p>
          <p *ngIf="fileName" class="mt-2 text-sm text-gray-600">
            Arquivo selecionado: {{ fileName }}
          </p>
        </div>
      </div>
    } @else if (responseMessage && !loading) {
      <div
        class="overflow-auto w-[90%] lg:w-[calc(100vw-100px)] 2xl:w-[calc(100vw-320px)] flex flex-col justify-center items-center border shadow pb-5">
        <div class="p-5 border rounded-xl mt-5 mb-5 shadow {{responseClass}} text-center p-5 px-20">
          {{ responseMessage }}
        </div>
        <div>
          <button type="button"
                  class="text-neutral-50 bg-warning-content hover:bg-neutral-900 focus:ring-neutral-900 focus:outline-none focus:bg-neutral-900 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2"
                  (click)="location.reload()">
            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px"
                 fill="#e8eaed">
              <path
                d="M840-680v480q0 33-23.5 56.5T760-120H200q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h480l160 160Zm-80 34L646-760H200v560h560v-446ZM480-240q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35ZM240-560h360v-160H240v160Zm-40-86v446-560 114Z"/>
            </svg>
            Tentar Novamente
          </button>
        </div>
      </div>
    } @else if (errors.length > 0 && !loading) {
      <div>
        <app-table>
          <tr body>
            <td colspan="10">
              <div *ngIf="errors.length > 0" class="error-list">
                <h2 class="mb-2 text-lg font-semibold text-gray-900 ">Planilha enviada fora do Padrão! Erros
                  Encontrados: ({{ errors.length }})</h2>
                <p class="mb-2 text-sm">Verifique os erros na lista abaixo e faça a correção. Depois clique no botão
                  tentar novamente</p>
                <ul class="space-y-1 text-gray-600 list-inside max-h-44 overflow-auto">
                  <li *ngFor="let error of errors" class="flex items-center">
                    <app-icon-alert class="mr-1"></app-icon-alert>
                    {{ error }}
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </app-table>

        <h2 class="ml-2 font-bold text-xl mb-2">Observe novamente os ítens que podem ser usados e faça a correção</h2>
        <ol class="flex flex-wrap ml-2">
          <li *ngFor="let header of contractReferenceItems"
              class="badge mr-2 mb-2 rounded bg-[#5542a9] text-white p-3">{{ header.nameForImport }}
          </li>
        </ol>
        <div class="flex justify-center mt-5">
          <button class="btn bg-[#5520a9] hover:bg-[#5550a9] text-white " (click)="errors = []">Tentar Novamente
          </button>
        </div>
      </div>
    }
  </div>

</div>
