<div class="flex mt-[3rem] h-fit" #top>
  <div class="w-full">
    <div class="pt-2 border-b w-full pl-2 flex items-center justify-between">
      <div class="breadcrumbs text-sm">
        <ul class="select-none">
          <li><a>Início</a></li>
          <li><a>Execuçoes</a></li>
          <li>Lista</li>
        </ul>
      </div>
      <h3 class="text-medium pr-5 hidden lg:block">Lista de Pendentes</h3>
    </div>

    <div class="pt-2 border-b w-full pl-2 flex items-center justify-end text-xs font-medium">
      Ordenar por
    </div>

    <div class="border-b w-full pl-2 h-screen pt-2">
<!--      <div *ngFor="let m of measurementDTO; index as i;">-->
<!--        <h2 class="text-lg font-bold mt-4">{{ m.city }}</h2>-->
<!--        <ol class="flex flex-wrap">-->
<!--          <li *ngFor="let i of m.items; index as j;"-->
<!--              class="cursor-pointer transform transition-transform duration-300 hover:scale-105 hover:translate-x-2 hover:translate-y-2 m-2">-->
<!--            <div class="flex flex-col border rounded px-4 py-2">-->
<!--                <span-->
<!--                  class="badge {{ m.measurement.measurementStyle }} rounded mb-4 mt-2"> {{ getType(m.measurement.measurementType) }} </span>-->
<!--&lt;!&ndash;              <span class="font-semibold">{{ m.measurement.city }}</span>&ndash;&gt;-->
<!--              <h3 class="text-sm">{{ m.measurement.address }}</h3>-->
<!--              <span class="text-xs font-light">Criado por {{ m.measurement.createdBy }}</span>-->
<!--              <span class="text-sm font-light">{{ m.items.length }} itens</span>-->
<!--            </div>-->
<!--          </li>-->

<!--        </ol>-->
<!--      </div>-->
      <div *ngFor="let city of groupedMeasurements | keyvalue" class="border-b pb-5">
        <h2 class="text-lg font-medium mt-4">{{ city.key }}</h2>

        <ol class="flex flex-wrap">
          <li *ngFor="let m of city.value; index as i;"
              class="cursor-pointer transform transition-transform duration-300 hover:scale-105 hover:translate-x-2 hover:translate-y-2 m-2">
            <div class="flex flex-col border rounded px-4 py-2">
          <span class="badge {{ m.measurement.measurementStyle }} rounded mb-4 mt-2">
            {{ getType(m.measurement.measurementType) }}
          </span>
              <h3 class="text-sm">{{ getStreet(m.measurement.address) }}</h3>
              <span class="text-xs font-light">Criado por {{ m.measurement.createdBy }}</span>
              <span class="text-xs font-light"> 16 de fevereiro de 2025 00:00</span>
              <span class="text-sm font-light">{{ m.items.length }} itens</span>
            </div>
          </li>
        </ol>
      </div>
    </div>


  </div>
</div>
