<div class="flex h-full w-full" #top>
  @if (loading) {
    <div class="flex h-full w-full items-center justify-center">
      <app-loading></app-loading>
    </div>

  } @else if (showMessage) {
    <div class="flex items-center flex-col w-full h-full">
      <span class="material-icons mt-20 text-orange-600">thumb_up</span>
      <h2 class="mt-2 font-semibold text-xl">Execução delegada com sucesso</h2>
      <p>A pré-medição se encontra disponível na tela <span class="badge badge-info rounded py-3 px-2 cursor-pointer"
                                                            (click)="router.navigate(['/requisicoes/gerenciamento'])">Gerenciamento de Reservas</span>
      </p>
    </div>
  } @else {
    <div class="card grid grid-cols-1 md:grid-cols-2 gap-4">
      <p-floatlabel variant="in">
        <input pInputText id="in_label" [(ngModel)]="streetName" autocomplete="off"/>
        <label for="in_label">Rua</label>
      </p-floatlabel>
    </div>
  }

  <p-toast/>
</div>
