<div class="w-full h-full relative">
  <app-prime-breadcrumb
    [title]="'Editando ' + streets.classList.contains('hidden') ? getStreetName(streetId) ?? '' : contract.contractor "
    [path]="['Pré-medições','Aguardando Análise', 'Detalhes', 'Editar Itens']"
  ></app-prime-breadcrumb>

  <app-loading-overlay [loading]="loading"></app-loading-overlay>


  <div *ngIf="hideContent" class="w-full pl-2 pt-2">
    <div class="flex items-center flex-col border rounded p-10 shadow">
      <span class="material-icons mt-20 text-orange-600">thumb_up</span>
      <h2 class="mt-2 font-semibold text-xl">Itens modificados com sucesso</h2>
      <p>A pré-medição se encontra <span class="badge badge-info rounded p-3 cursor-pointer"
                                         (click)="router.navigate(['/pre-medicao/disponivel'])">Disponível para execução</span>
      </p>

      <div class="mt-10 flex flex-col">
        <button class="btn btn-link"
                (click)="router.navigate(['/pre-medicao/relatorio/' + preMeasurement.preMeasurementId])">
          <span class="material-icons">report</span>
          Exibir relatório
        </button>
        <button class="btn btn-link"
                (click)="router.navigate(['execucao/pre-medicao/' + preMeasurement.preMeasurementId])">
          <span class="material-icons">open_in_new</span>
          Continuar para execução
        </button>
      </div>
    </div>
  </div>

  <div class="w-full pl-2 h-screen pt-2" #streets [class.hidden]="hideContent">
    <ol class="flex flex-wrap">
      <li
        class="w-[23rem] m-2">
        <button class="btn btn-success text-white w-[23rem]"
                (click)="test()">
          <span class="material-icons">save</span>
          Concluir processo
        </button>
      </li>
    </ol>

    <ol class="flex flex-wrap">
      <li *ngFor="let s of preMeasurement.streets; index as i;"
          class="w-[23rem]  cursor-pointer transform transition-transform duration-300 hover:scale-105 hover:translate-x-2 hover:translate-y-2 m-2"
          (click)="edit('street', s.preMeasurementStreetId, streets, items)">
        <div class="flex flex-col border rounded px-4 py-2 card-execution">
            <span class="badge rounded mb-4 mt-2 dark:badge-accent"
                  [ngClass]="s.status == 'PENDING' ? 'badge-primary' :  s.status === 'EDITED' ? 'badge-warning' : 'badge-error'">
                {{ s.status === "PENDING" ? "NÃO MODIFICADO" : s.status === "EDITED" ? "MODIFICADO" : "CANCELADO" }}
            </span>

          <h3 class="text-xl leading-[1.15rem] font-light">{{ s.address }}</h3>
          <span class="text-sm  flex items-center">Essa rua contém {{ s.items.length }} itens<span
            class="material-icons text-sm ml-1 text-blue-500">verified</span></span>
          <span class="text-sm flex items-center">{{ s.latitude + " , " + s.longitude }}<span
            class="material-icons text-sm ml-1 text-blue-500">location</span></span>
        </div>
      </li>
    </ol>
  </div>

  <div class="w-full pl-2 h-screen pt-2 hidden" #items>
    <ol class="flex flex-wrap">
      <li
        class="w-[23rem] m-2">
        <button
          class="btn border-2 hover:border-b-[#5b5fc7] border-[0xFFD4D4D4] w-[23rem]"
          (click)="changeFromTo(items, streets)">
          <span class="material-icons">arrow_back</span>
          Visão geral
        </button>
      </li>

      <li *ngIf="isNotActive('street', streetId)"
          class="w-[23rem] m-2 flex justify-center items-center">
        <button class="btn bg-[#47698F] hover:bg-[#30698F] w-[23rem] text-white border-[#35567b] mb-2"
                (click)="cancelStreet(streetId, false)">
          <span class="material-icons">restore</span>
          Reativar rua com todos os itens
        </button>
      </li>

      <li *ngIf="!isNotActive('street', streetId)">
        <button
          class="btn bg-[#FF9900] hover:bg-[#FF8800] text-black border-[#e17d00] w-[23rem] m-2 flex justify-center items-center"
          (click)="cancelStreet(streetId, true)">
          <span class="material-icons">delete_forever</span>
          Cancelar rua com todos os itens
        </button>
      </li>

      <li *ngIf="!isNotActive('street', streetId)">
        @let projectCancelled = isProjectCancelled();
        <button
          class="btn bg-indigo-800 hover:bg-indigo-900 text-white border-indigo-700 w-[23rem] m-2 flex justify-center items-center"
          (click)="cancelProject()">
          <span class="material-icons">{{ projectCancelled ? 'restore' : 'delete_forever' }}</span>
          {{ projectCancelled ? 'Reativar projeto' : 'Cancelar projeto' }}
        </button>
      </li>
    </ol>

    <ol class="flex flex-wrap">
      <li *ngFor="let i of streetItems; let idx = index;"
          class="w-[23rem] m-2">
        <div class="flex justify-between border rounded px-4 py-2 shadow h-36"

             [ngClass]="i.contractReferenceItemType.toUpperCase() === 'CABO' || i.contractReferenceItemType.toUpperCase() === 'RELÉ' ||
                        i.contractReferenceItemType.toUpperCase() === 'SERVIÇO' || i.contractReferenceItemType.toUpperCase() === 'PROJETO' ? 'bg-neutral-100 dark:bg-neutral-800' : ''">

          <div class="relative w-full">
              <span class="badge rounded mb-4 mt-2"
                    [ngClass]="i.itemStatus == 'PENDING' ? 'badge-primary dark:badge-accent' :  i.itemStatus === 'EDITED' ? 'badge-warning' : 'badge-error'">
                {{ i.itemStatus === "PENDING" ? "NÃO MODIFICADO" : i.itemStatus === "EDITED" ? "MODIFICADO" : "CANCELADO" }}
            </span>
            <h3
              class="text-lg  leading-[1.15rem] font-light">{{ i.contractReferenceNameForImport }}</h3>
            <span
              class="text-sm  flex items-center">{{ i.contractReferenceLinking }}</span>
            <span *ngIf="i.contractReferenceItemType?.toUpperCase() !== 'CABO' && i.contractReferenceItemType?.toUpperCase() !== 'RELÉ' &&
                        i.contractReferenceItemType?.toUpperCase() !== 'SERVIÇO' && i.contractReferenceItemType?.toUpperCase() !== 'PROJETO'"
                  [ngClass]="i.itemStatus === 'PENDING' ? 'text-red-600' : 'text-primary'"
                  class="material-icons text-2xl ml-1 absolute bottom-0 cursor-pointer rounded hover:border p-1 select-none"
                  (click)="edit('item', i.preMeasurementStreetItemId, streets, items)">{{ i.itemStatus !== "CANCELLED" ? 'delete' : 'restore' }}</span>

            <!-- Botão (ícone) que abre o menu -->
            <span
              *ngIf="i.contractReferenceItemType?.toUpperCase() === 'LED' && i.itemStatus !== 'CANCELLED'"
              class="fa-solid fa-pencil ml-12 p-2 absolute bottom-0 cursor-pointer rounded hover:border select-none"
              style="font-size: 1rem"
              (click)="showDialog(i.preMeasurementStreetItemId)">
              </span>

            <span *ngIf="i.contractReferenceItemType?.toUpperCase() === 'CABO' || i.contractReferenceItemType?.toUpperCase() === 'RELÉ' ||
                        i.contractReferenceItemType?.toUpperCase() === 'SERVIÇO' || i.contractReferenceItemType?.toUpperCase() === 'PROJETO'"
                  class="absolute bottom-0 text-xs border-t min-w-full pt-1 select-none">Controlado automaticamente</span>
          </div>
          <div
            *ngIf="i.itemStatus !== 'CANCELLED'"
            class="flex flex-col justify-center items-center p-1 min-w-fit">
            @if (!['SERVIÇO', 'PROJETO', 'CABO', 'RELÉ'].includes(i.contractReferenceItemType)) {
              <p-inputnumber
                [(ngModel)]="i.measuredQuantity"
                (ngModelChange)="changeItem(i.preMeasurementStreetItemId)"
                [showButtons]="true" buttonLayout="vertical"
                spinnerMode="vertical"
                inputId="vertical"
                class="text-xs"
                [inputStyle]="{ width: '3rem' }">
                <ng-template pTemplate="incrementbuttonicon">
                  <span class="pi pi-plus"></span>
                </ng-template>
                <ng-template pTemplate="decrementbuttonicon">
                  <span class="pi pi-minus"></span>
                </ng-template>
              </p-inputnumber>
            } @else {
              <p-inputnumber
                readonly
                [(ngModel)]="i.measuredQuantity"
                buttonLayout="vertical"
                spinnerMode="vertical"
                inputId="vertical"
                [inputStyle]="{ width: '3.5rem', textAlign: 'center'}">
              </p-inputnumber>
            }

            <p class="text-xs p-1">Qtde.</p>
          </div>
        </div>
      </li>
    </ol>
  </div>

</div>


<p-dialog header="Editar Led" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-8">Escolha o Led desejado</span>

  <div class="flex flex-col p-2 rounded hover:bg-neutral-50 dark:hover:bg-neutral-800 cursor-pointer"
       *ngFor="let item of getReferenceItems()" (click)="updateLed(item.contractReferenceItemId)">
    <label for="username"
           class="font-semibold w-24 cursor-pointer">{{ item.nameForImport }}</label>
  </div>

</p-dialog>

<app-modal [modalOpen]="openModal" (modalClose)="openModal=false; alert = false; finish = false;"
           classModal="rounded p-4 lg:w-[30%] flex flex-col  justify-center">
  @if (alert && !finish) {
    <div class="flex flex-col items-center justify-center text-xl mb-5 border-b pb-2">
      <span class="material-icons text-error">warning</span>
      <h2 class="text-center font-semibold">Essa ação retorna o itemStatus de todos os itens, deseja prosseguir?</h2>
    </div>
    <button class="btn bg-[#47698F] hover:bg-[#30698F] text-white border-[#35567b] mb-2"
            (click)="cancelStreet(streetId, false)">
      <span class="material-icons">restore</span>
      Reativar rua com todos os itens
    </button>
    <button class="btn bg-[#FF9900] hover:bg-[#FF8800]  text-black border-[#e17d00]" (click)="openModal = false">
      <span class="material-icons">check</span>
      Ok, manter
    </button>
  } @else if (streetId > 0 && !finish) {
    <div class="flex flex-col items-center justify-center text-xl mb-5 border-b pb-2">
      <span class="material-icons text-error">warning</span>
      <h2 class="text-center font-semibold">Uma ação de cancelamento foi executada nesta rua, como deseja
        prosseguir?</h2>
    </div>
    <button class="btn bg-[#47698F] hover:bg-[#30698F] text-white border-[#35567b] mb-2"
            (click)="cancelStreet(streetId, false)">
      <span class="material-icons">restore</span>
      Reativar rua com todos os itens
    </button>
    <button class="btn bg-[#FF9900] hover:bg-[#FF8800]  text-black border-[#e17d00]" (click)="openModal = false">
      <span class="material-icons">check</span>
      Ok, manter
    </button>
  } @else if (finish) {
    <div class="flex flex-col items-center justify-center text-xl mb-5 border-b pb-2">
      <span class="material-icons text-primary text-2xl">question_mark</span>
      <h2 class="text-center font-semibold">Deseja salvar todas as modificações?</h2>
    </div>
    <button class="btn bg-[#47698F] hover:bg-[#30698F] text-white border-[#35567b] mb-2"
            (click)="openModal = false; finish = false; alert = false;">
      <span class="material-icons">restore</span>
      Cancelar
    </button>
    <button class="btn bg-[#FF9900] hover:bg-[#FF8800]  text-black border-[#e17d00]" (click)="sendModifications()">
      <span class="material-icons">save</span>
      Salvar
    </button>
  }
</app-modal>

<p-toast/>
