<div class="flex" #top>
  <div class="w-full h-full">

    <div class="pt-2 w-full pl-2 flex items-center justify-between">
      <div class="breadcrumbs text-sm">
        <ul class="select-none">
          <li><a>Início</a></li>
          <li><a>Configurações</a></li>
          <li>Equipes Operacionais</li>
        </ul>
      </div>
      <h3 class="text-medium pr-5 hidden lg:block">Equipes Operacionais</h3>
    </div>


    <div role="tablist" class="tabs tabs-lifted w-full justify-center mb-5 mt-5">
      <input type="radio" class="tab" aria-label="Usuários" (click)="router.navigate(['/configuracoes/usuarios'])"/>
      <input type="radio" class="tab" aria-label="Equipes" checked/>
      <input type="radio" class="tab" aria-label="Empresa" disabled
             (click)="router.navigate(['/configuracoes/empresa'])"/>
    </div>

    <form #teamForm="ngForm" (ngSubmit)="submitTeams(teamForm)"
          class="w-full pl-2 items-center justify-center">

        <div class="flex items-center gap-3 pb-2">
          <!-- Botão adicionar -->
          <button
            class="btn btn-primary btn-circle btn-sm tooltip tooltip-right"
            (click)="newTeam()"
            type="button"
            data-tip="Adicionar equipe">
            <i class="pi pi-user-plus"></i>
          </button>

          <!-- Botão remover -->
          <button
            class="btn btn-error btn-circle btn-sm tooltip tooltip-right"
            (click)="removeTeam()"
            type="button"
            data-tip="Remover equipe">
            <i class="pi pi-user-minus"></i>
          </button>
        </div>



      <app-table [large]="false">
        <tr header>
          <th></th>
          <th hidden>Código</th>
          <th>Descrição</th>
          <th class="max-w-52">Colaboradores</th>
          <th>Placa do Caminhão</th>
          <th class="max-w-52">Estado</th>
          <th class="max-w-52">Cidade</th>
          <th class="min-w-52">Região</th>
        </tr>

        <tr *ngFor="let team of teams; let i = index" class="odd:bg-neutral-100 dark:odd:bg-neutral" body>

          <!-- Ação principal (editar/cancelar/salvar) -->
          <td [ngClass]="team.sel ? 'w-24' : ''">
            <button
              class="btn btn-info btn-circle btn-sm tooltip tooltip-right"
              (click)="team.idTeam !== '' ? team.sel = !team.sel : removeTeam()"
              type="button"
              [attr.data-tip]="team.sel ? 'Cancelar' : 'Editar Equipe'">
              <i class="pi" [ngClass]="team.sel ? 'pi-times' : 'pi-pencil'"></i>
            </button>
            <button
              *ngIf="team.sel"
              class="btn btn-info btn-circle btn-sm tooltip tooltip-right ml-2"
              type="submit"
              [attr.data-tip]="'Salvar'">
              <i class="pi pi-save"></i>
            </button>
          </td>

          <!-- ID -->
          <td hidden>{{ team.idTeam }}</td>

          <!-- Nome da equipe -->
          <td>
            <ng-container *ngIf="team.sel; else showTeamName">
              <input required
                     [(ngModel)]="team.teamName"
                     name="teamName{{i}}"
                     type="text"
                     placeholder="Insira o nome da equipe"
                     class="input input-bordered input-sm"
                     #teamName="ngModel">
              <div *ngIf="teamName.invalid && (teamName.touched || teamForm.submitted)">
                <small *ngIf="teamName.errors?.['required']" class="text-red-600">Campo obrigatório.</small>
              </div>
            </ng-container>
            <ng-template #showTeamName>{{ team.teamName }}</ng-template>
          </td>

          <!-- Colaboradores -->
          <td>
            <ng-container *ngIf="team.sel; else showMembers">
              <p-multiselect
                name="team_{{team.idTeam}}"
                [options]="users"
                [(ngModel)]="team.memberIds"
                optionLabel="name"
                optionValue="userId"
                placeholder="Selecionar Colaboradores"
                [maxSelectedLabels]="3"
                (onChange)="test(team)"
                class="w-full md:w-80">
              </p-multiselect>
            </ng-container>
            <ng-template #showMembers>
              {{ team.memberNames.join(', ') }}
            </ng-template>
          </td>

          <!-- Placa do caminhão -->
          <td>
            <ng-container *ngIf="team.sel; else showPlate">
              <input required
                     [(ngModel)]="team.plate"
                     name="plate{{i}}"
                     type="text"
                     placeholder="Insira a placa do veículo"
                     (input)="utils.formatPlate($event)"
                     minlength="7"
                     maxlength="7"
                     class="input input-bordered input-sm"
                     #plate="ngModel">
              <div *ngIf="plate.invalid && (plate.touched || teamForm.submitted)">
                <small *ngIf="plate.errors?.['required']" class="text-red-600">Campo obrigatório.</small>
              </div>
            </ng-container>
            <ng-template #showPlate>{{ team.plate }}</ng-template>
          </td>

          <!-- Estado -->
          <td>
            <ng-container *ngIf="team.sel; else showUF">
              <select
                class="select select-bordered select-sm"
                [(ngModel)]="team.UFName"
                name="UFName{{i}}"
                required
                (change)="getCities(team.UFName)"
                #UFName="ngModel">
                <option value="" disabled>Selecione o estado</option>
                <option *ngFor="let uf of ufs" [value]="uf.sigla">{{ uf.nome }}</option>
              </select>
              <div *ngIf="UFName.invalid && (UFName.touched || teamForm.submitted)">
                <small *ngIf="UFName.errors?.['required']" class="text-red-600">Campo obrigatório.</small>
              </div>
            </ng-container>
            <ng-template #showUF>{{ team.UFName }}</ng-template>
          </td>

          <!-- Cidade -->
          <td>
            <ng-container *ngIf="team.sel; else showCity">
              <select
                (change)="updateRegion($any($event.target).value, i)"
                (click)="getCities(team.UFName)"
                [(ngModel)]="team.cityName"
                class="select select-sm select-bordered"
                name="cityName{{i}}"
                [disabled]="!team.UFName"
                #cityName="ngModel"
                required>
                <option value="" disabled>Selecione a cidade</option>
                <option *ngFor="let city of cities" [value]="city.nome">{{ city.nome }}</option>
              </select>
              <div *ngIf="cityName.invalid && (cityName.touched || teamForm.submitted)">
                <small *ngIf="cityName.errors?.['required']" class="text-red-600">Campo obrigatório.</small>
              </div>
            </ng-container>
            <ng-template #showCity>{{ team.cityName }}</ng-template>
          </td>

          <!-- Região -->
          <td>
            {{ team.regionName ? team.regionName : 'Selecione a Cidade' }}
          </td>

        </tr>
      </app-table>
    </form>
  </div>
  <p-toast></p-toast>
</div>
