<div class="flex" #top>
  <div class="w-full h-full">

    <div class="pt-2 w-full pl-2 flex items-center justify-between">
      <div class="breadcrumbs text-sm">
        <ul class="select-none">
          <li><a>Início</a></li>
          <li><a>Configurações</a></li>
          <li>Equipes Operacionais</li>
        </ul>
      </div>
      <h3 class="text-medium pr-5 hidden lg:block">Equipes Operacionais</h3>
    </div>


    <div role="tablist" class="tabs tabs-lifted w-full justify-center mb-5 mt-5">
      <input type="radio" class="tab" aria-label="Usuários" (click)="router.navigate(['/configuracoes/usuarios'])"/>
      <input type="radio" class="tab" aria-label="Equipes" checked/>
      <input type="radio" class="tab" aria-label="Empresa" disabled
             (click)="router.navigate(['/configuracoes/empresa'])"/>
    </div>

    <form #teamForm="ngForm" (ngSubmit)="submitTeams(teamForm)"
          class="w-full pl-2 items-center justify-center">
      <div class="flex justify-evenly pb-5 items-center">
        @if (!add && !change) {
          <app-button title="Alterar Equipes" (click)="change = true">
          </app-button>
        }
        @if (!add && !change) {
          <app-button title="Adicionar Equipes" classButton="btn btn-success text-white" (click)="add = true">
          </app-button>
        }
        @if (add || change) {
          <app-button title="Cancelar" classButton="btn" [action]="resetView()">
          </app-button>
          <app-button title="Salvar" typeButton="submit" [loading]="loading"
                      classButton="btn btn-primary w-32 text-white">
          </app-button>
          @if (add) {
            <div class="flex">
              <div class="flex flex-col items-center mr-2">
                <button class="btn btn-outline btn-primary btn-xs" (click)="newTeam()" type="button">+</button>
                <p class="text-xs">Adicionar</p>
              </div>
              <div class="flex flex-col items-center">
                <button class="btn btn-outline btn-xs" (click)="removeTeam()" type="button">-</button>
                <p class="text-xs">Remover</p>
              </div>
            </div>
          }
        }

      </div>
      <app-table [large]="true">
        <tr header>
          <th *ngIf="change"></th>
          <th hidden>Código</th>
          <th>Descrição</th>
          <th class="max-w-52">Colaboradores</th>
          <th>Placa do Caminhão</th>
          <th class="max-w-52">Estado</th>
          <th class="max-w-52">Cidade</th>
          <th class="min-w-52">Região</th>
        </tr>

        <tr *ngFor="let team of teams; let i = index" class="odd:bg-neutral-100 dark:odd:bg-neutral" body>
          @if (change) {
            <td>
              <input type="checkbox"
                     class="check-box"
                     [(ngModel)]="team.sel"
                     (change)="team.sel ? getCities(team.UFName) : null"
                     name="sel{{i}}">
            </td>
            <td hidden>
              <input disabled
                     [(ngModel)]="team.idTeam"
                     name="idTeam{{i}}"
                     type="text"
                     class="input input-bordered input-xs"
              ></td>
            <td>
              <input required
                     [disabled]="!team.sel"
                     [(ngModel)]="team.teamName"
                     name="teamName{{i}}"
                     type="text"
                     placeholder="Insira o nome da equipe"
                     class="input input-bordered input-xs"
                     #teamName="ngModel"
              >
              <div *ngIf="teamName.invalid && (teamName.touched || teamForm.submitted)">
                <small *ngIf="teamName.errors?.['required']" class="text-red-600">Campo obrigatório.</small>
              </div>
            </td>

            <td>
              <p-multiselect [options]="users"
                             [(ngModel)]="team.memberIds"
                             optionLabel="name"
                             optionValue="userId"
                             placeholder="Selecionar Colaboradores"
                             class="w-full md:w-80">
              </p-multiselect>



            </td>

            <td>
              <input required
                     [disabled]="!team.sel"
                     [(ngModel)]="team.plate"
                     name="plate{{i}}"
                     type="text"
                     placeholder="Insira a placa do veículo"
                     class="input input-bordered input-xs"
                     #plate="ngModel"
              >
              <div *ngIf="plate.invalid && (plate.touched || teamForm.submitted)">
                <small *ngIf="plate.errors?.['required']" class="text-red-600">Campo obrigatório.</small>
              </div>
            </td>

            <td>
              <p *ngIf="!team.sel" class="input input-bordered input-xs input-disabled">{{ team.UFName }}</p>
              <div *ngIf="team.sel">
                <select
                  class="select select-bordered select-xs"
                  [(ngModel)]="team.UFName"
                  [disabled]="!team.sel"
                  name="UFName{{i}}"
                  required
                  #UFName="ngModel">
                  <option value="" disabled>Selecione o estado da equipe</option>
                  @for (uf of ufs; track uf.nome) {
                    <option [value]="uf.sigla">{{ uf.nome }}</option>
                  }
                </select>
                <div *ngIf="UFName.invalid && (UFName.touched || teamForm.submitted)">
                  <small *ngIf="UFName.errors?.['required']" class="text-red-600">Campo obrigatório.</small>
                </div>
              </div>
            </td>
            <td>
              <p *ngIf="!team.sel" class="input input-bordered input-xs input-disabled">{{ team.cityName }}</p>
              <div
                *ngIf="team.sel"
                [ngClass]="{'tooltip': !team.UFName, 'tooltip-bottom': !team.UFName}"
                [attr.data-tip]="team.UFName ? '' : 'Selecione o Estado Primeiro'"
                class="tooltip tooltip-bottom form-control w-full max-w-xs">
                <select
                  (click)="getCities(team.UFName)"
                  (change)="updateRegion($any($event.target).value,i)"
                  [(ngModel)]="team.cityName"
                  class="select select-xs select-bordered"
                  name="cityName{{i}}"
                  [disabled]="!team.UFName"
                  #cityName="ngModel"
                  required>
                  <option value="" disabled>Selecione a cidade da equipe</option>
                  @for (city of cities; track city.nome) {
                    <option [value]="city.nome">{{ city.nome }}</option>
                  }
                </select>
                <div *ngIf="cityName.invalid && (cityName.touched || teamForm.submitted)">
                  <small *ngIf="cityName.errors?.['required']" class="text-red-600">Campo obrigatório.</small>
                </div>
              </div>
            </td>
            <td>
              <div
                class="tooltip tooltip-bottom form-control w-full max-w-xs">
                <p
                  class="input input-xs input-disabled">{{ team.regionName ? team.regionName : 'Selecione a Cidade' }}</p>
              </div>
            </td>

          } @else if (add) {
            <td hidden>
              <input disabled
                     [(ngModel)]="team.idTeam"
                     name="idTeam{{i}}"
                     type="text"
                     class="input input-bordered input-xs"
              ></td>
            <td>
              <input required
                     [disabled]="team.idTeam !== ''"
                     [(ngModel)]="team.teamName"
                     name="teamName{{i}}"
                     type="text"
                     placeholder="Insira o nome da equipe"
                     class="input input-bordered input-xs"
                     #teamName="ngModel"
              >
              <div *ngIf="teamName.invalid && (teamName.touched || teamForm.submitted)">
                <small *ngIf="teamName.errors?.['required']" class="text-red-600">Campo obrigatório.</small>
              </div>
            </td>
            <td>
              <p-multiselect [options]="users" [(ngModel)]="team.memberIds" optionLabel="name" placeholder="Selecionar Colaboradores" [maxSelectedLabels]="3" class="w-full md:w-80" />
            </td>

            <td>
              <input required
                     [disabled]="team.idTeam !== ''"
                     [(ngModel)]="team.plate"
                     name="plate{{i}}"
                     type="text"
                     placeholder="Insira a placa do veículo"
                     class="input input-bordered input-xs"
                     #plate="ngModel"
              >
              <div *ngIf="plate.invalid && (plate.touched || teamForm.submitted)">
                <small *ngIf="plate.errors?.['required']" class="text-red-600">Campo obrigatório.</small>
              </div>
            </td>
            <td>
              <p *ngIf="team.idTeam" class="input input-bordered input-xs input-disabled">{{ team.UFName }}</p>
              <div *ngIf="!team.idTeam">
                <select
                  class="select select-bordered select-xs"
                  [(ngModel)]="team.UFName"
                  name="UFName{{i}}"
                  [disabled]="team.idTeam !== ''"
                  required
                  #UFName="ngModel">
                  <option value="" disabled>{{ team.UFName ? team.UFName : 'Selecione o estado da equipe' }}</option>
                  @for (uf of ufs; track uf.nome) {
                    <option [value]="uf.sigla">{{ uf.nome }}</option>
                  }
                </select>
                <div *ngIf="UFName.invalid && (UFName.touched || teamForm.submitted)">
                  <small *ngIf="UFName.errors?.['required']" class="text-red-600">Campo obrigatório.</small>
                </div>
              </div>
            </td>
            <td>
              <p *ngIf="team.idTeam" class="input input-bordered input-xs input-disabled">{{ team.cityName }}</p>
              <div
                *ngIf="!team.idTeam"
                [ngClass]="{'tooltip': !team.UFName, 'tooltip-bottom': !team.UFName}"
                [attr.data-tip]="team.UFName ? '' : 'Selecione o Estado Primeiro'"
                class="tooltip tooltip-bottom form-control w-full max-w-xs">
                <select
                  (change)="updateRegion($any($event.target).value, i)"
                  (click)="getCities(team.UFName)"
                  [(ngModel)]="team.cityName"
                  class="select select-xs select-bordered"
                  name="cityName{{i}}"
                  [disabled]="!team.UFName"
                  #cityName="ngModel"
                  required>
                  <option value="" disabled>{{ team.cityName ? team.cityName : 'Selecione a cidade da equipe' }}
                  </option>
                  @for (city of cities; track city.nome) {
                    <option [value]="city.nome">{{ city.nome }}</option>
                  }
                </select>
                <div *ngIf="cityName.invalid && (cityName.touched || teamForm.submitted)">
                  <small *ngIf="cityName.errors?.['required']" class="text-red-600">Campo obrigatório.</small>
                </div>
              </div>
            </td>
            <td>
              <div
                class="tooltip tooltip-bottom form-control w-full max-w-xs">
                <p
                  class="input input-xs input-disabled">{{ team.regionName ? team.regionName : 'Selecione a Cidade' }}</p>
              </div>
            </td>
          } @else {
            <td hidden disabled>{{ team.idTeam }}</td>
            <td>{{ team.teamName }}</td>
            <td>{{ team.memberNames.join(', ') }}</td>
            <td>{{ team.plate }}</td>
            <td>{{ team.UFName }}</td>
            <td>{{ team.cityName }}</td>
            <td>{{ team.regionName }}</td>
          }
        </tr>
      </app-table>
    </form>
  </div>
  <p-toast></p-toast>
</div>
