<div class="overflow-x-auto">
  <!-- Filtro de Pesquisa -->
  @if (search) {
    <div class="flex w-full items-center">
      <label class="input input-sm input-bordered flex items-center gap-2 flex-1 mb-2">
        <input type="text" class="grow" placeholder="Pesquisar" (input)="filterSearch($any($event.target).value)" />
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
          <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd"/>
        </svg>
      </label>
    </div>
  }


  <!-- Tabela -->
  <table class="table table-xs cursor-default select-none z-10 w-full">
    <thead>
      <!-- Conteúdo do cabeçalho (usando ng-content para inserir dinamicamente) -->
      <ng-content select="[header]"></ng-content>

    </thead>
    <tbody>

      <!-- Conteúdo do corpo (usando ng-content para conteúdo personalizado) -->
      <ng-content select="[body]">
      </ng-content>

    </tbody>
  </table>
</div>
