<div class="flex mt-[4rem] h-fit" #top>
  <app-sidebar title="Estoque" [links]="sidebarLinks"></app-sidebar>
  <div class="ml-12 lg:ml-14 2xl:ml-[19rem] w-[85vw] xl:w-[60rem] 2xl:w-[75rem] mb-5 ">
    <div class="breadcrumbs text-sm py-5">
      <ul class="select-none">
        <li><a>Início</a></li>
        <li><a>Estoque</a></li>
        <li>Importar Materiais</li>
      </ul>
    </div>

    @if (!loading && !showTable) {
      <div
        class="w-[90%] lg:w-[calc(100vw-100px)] 2xl:w-[calc(100vw-320px)] flex flex-col justify-center items-center border shadow">
        <h2 class="bg-neutral-200 text-neutral-800 w-[100%] text-center text-sm p-1">Role a página e siga o passo a
          passo para importar os materiais</h2>
        <div class="p-5 w-[95%] border rounded-xl mt-5">
          <div class="flex items-center justify-center mb-5">
            <h2 class="font-bold text-2xl mr-2">1º</h2>
            <p>Observe a tabela abaixo com atenção, os dados deverão ser enviados neste padrão</p>
          </div>
          <app-table>
            <tr class="bg-green-700 text-white" header>
              <th>Nome do Material*</th>
              <th>Marca</th>
              <th>Potência</th>
              <th>Corrente (A)</th>
              <th>Tamanho</th>
              <th>Unidade de Compra*</th>
              <th>Unidade de Requisição*</th>
              <th>Tipo Material*</th>
              <th>Grupo Material*</th>
              <th>Empresa*</th>
              <th>Almoxarifado*</th>
            </tr>
            <tr class="odd:bg-neutral-100" body>
              <td>Disjuntor Bipolar</td>
              <td>Siemens</td>
              <td></td>
              <td>32A</td>
              <td></td>
              <td>CX</td>
              <td>UN</td>
              <td>Disjuntor</td>
              <td>Proteção Elétrica</td>
              <td>SCL Solutions</td>
              <td>Galpão BH</td>
            </tr>
            <tr body>
              <td colspan="11">
                <div role="alert" class="alert shadow-lg">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    class="stroke-info h-6 w-6 shrink-0">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                  </svg>
                  <div>
                    <h3 class="font-bold">Atenção!</h3>
                    <div class="text-xs">Colunas marcadas com asterisco(*) são obrigatórias.</div>
                    <div class="text-xs">Caso os Tipos, Grupos, Empresas e Almoxarifados informados não existam no
                      sistema ou o nome informado estiver diferente, eles serão criados automaticamente.
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </app-table>
          <div class="flex flex-col items-center mt-5">
            <h2 class="mb-2">
              Exemplos de Unidades de Compra e de Requisição (Somente estes valores serão aceitos)
            </h2>
            <app-table>
              <tr class="bg-blue-900 text-white" header>
                <th>Caixa</th>
                <th>Centímetro</th>
                <th>Metro</th>
                <th>Peça</th>
                <th>Rolo</th>
                <th>Unidade</th>
              </tr>
              <tr body>
                <td>CX</td>
                <td>CM</td>
                <td>M</td>
                <td>PÇ</td>
                <td>R</td>
                <td>UN</td>
              </tr>
            </app-table>
          </div>
        </div>

        <div class="p-5 w-[95%] border rounded-xl mt-5">
          <div class="flex items-center justify-center mb-5">
            <h2 class="font-bold text-2xl mr-2">2º</h2>
            <p>Baixar planilha modelo</p>
          </div>
          <div class="flex flex-col items-center">
            <p class="mb-2">Utilize o botão abaixo para baixar uma planilha modelo que deverá ser editada</p>
            <button type="button"
                    class="text-gray-900 bg-[#F7BE38] hover:bg-[#F7BE38]/90 focus:ring-4 focus:outline-none focus:ring-[#F7BE38]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#F7BE38]/50 me-2 mb-2"
                    (click)="onDownloadClick('importacao_materiais.xlsx')">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 48 48">
                <path fill="#4CAF50" d="M41,10H25v28h16c0.553,0,1-0.447,1-1V11C42,10.447,41.553,10,41,10z"></path>
                <path fill="#FFF"
                      d="M32 15H39V18H32zM32 25H39V28H32zM32 30H39V33H32zM32 20H39V23H32zM25 15H30V18H25zM25 25H30V28H25zM25 30H30V33H25zM25 20H30V23H25z"></path>
                <path fill="#2E7D32" d="M27 42L6 38 6 10 27 6z"></path>
                <path fill="#FFF"
                      d="M19.129,31l-2.411-4.561c-0.092-0.171-0.186-0.483-0.284-0.938h-0.037c-0.046,0.215-0.154,0.541-0.324,0.979L13.652,31H9.895l4.462-7.001L10.274,17h3.837l2.001,4.196c0.156,0.331,0.296,0.725,0.42,1.179h0.04c0.078-0.271,0.224-0.68,0.439-1.22L19.237,17h3.515l-4.199,6.939l4.316,7.059h-3.74V31z"></path>
              </svg>
              Baixar Planilha Modelo
            </button>
          </div>
        </div>
        <div class="p-5 w-[95%] border rounded-xl mt-5">
          <div class="flex items-center justify-center mb-5">
            <h2 class="font-bold text-2xl mr-2">3º</h2>
            <p>Inserir informações</p>
          </div>
          <div class="flex flex-col items-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="75px" viewBox="0 -960 960 960" width="75px" fill="green">
              <path
                d="M560-80v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T903-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v120h-80v-80H520v-200H240v640h240v80H240Zm280-400Zm241 199-19-18 37 37-18-19Z"/>
            </svg>
            <p class="text-sm lg:w-[60%] mt-3">Abra a planilha e apague os dados de exemplo sem modificar o cabeçalho,
              insira os dados necessários nas colunas corretas. Não tente salvar as informações em uma nova planilha,
              essa ação poderá ocasionar erros e comprometer os seus dados.</p>
          </div>
        </div>

        <div class="p-5 w-[95%] border rounded-xl mt-5 mb-5 shadow">
          <div class="flex items-center justify-center mb-2">
            <h2 class="font-bold text-2xl mr-2">4º</h2>
            <p>Exportar os dados</p>
          </div>
          <div class="flex flex-col items-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="75px" viewBox="0 -960 960 960" width="75px" fill="#black">
              <path
                d="M440-200h80v-167l64 64 56-57-160-160-160 160 57 56 63-63v167ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"/>
            </svg>
          </div>

          <div
            class="flex flex-col items-center justify-center">
            <div class="label">
              <span class="label-text">Clique no botão abaixo e selecione a planilha para exportar os materiais</span>
            </div>
            <input type="file" class="hidden"
                   #inputFile
                   accept=".xlsx, .xls" (change)="onFileChange($event)"/>

            <button type="button"
                    class="text-neutral-50 bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2"
                    (click)="inputFile.click()">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 48 48">
                <path fill="#4CAF50" d="M41,10H25v28h16c0.553,0,1-0.447,1-1V11C42,10.447,41.553,10,41,10z"></path>
                <path fill="#FFF"
                      d="M32 15H39V18H32zM32 25H39V28H32zM32 30H39V33H32zM32 20H39V23H32zM25 15H30V18H25zM25 25H30V28H25zM25 30H30V33H25zM25 20H30V23H25z"></path>
                <path fill="#2E7D32" d="M27 42L6 38 6 10 27 6z"></path>
                <path fill="#FFF"
                      d="M19.129,31l-2.411-4.561c-0.092-0.171-0.186-0.483-0.284-0.938h-0.037c-0.046,0.215-0.154,0.541-0.324,0.979L13.652,31H9.895l4.462-7.001L10.274,17h3.837l2.001,4.196c0.156,0.331,0.296,0.725,0.42,1.179h0.04c0.078-0.271,0.224-0.68,0.439-1.22L19.237,17h3.515l-4.199,6.939l4.316,7.059h-3.74V31z"></path>
              </svg>
              Buscar Planilha no meu computador
            </button>
            <p class="mt-2 text-sm text-gray-600">
              Somente são aceitos até 500 itens.
            </p>
            <p *ngIf="fileName" class="mt-2 text-sm text-gray-600">
              Arquivo selecionado: {{ fileName }}
            </p>
          </div>

          <app-table>
            <tr body>
              <td colspan="10">
                <div *ngIf="errors.length > 0" class="error-list">
                  <h2 class="mb-2 text-lg font-semibold text-gray-900 ">Planilha enviada fora do Padrão! Erros
                    Encontrados: ({{ errors.length }})</h2>
                  <p class="mb-2 text-sm">Verifique os erros na lista abaixo e faça a correção. Depois clique no botão
                    para enviar novamente</p>
                  <ul class="space-y-1 text-gray-600 list-inside max-h-44 overflow-auto">
                    <li *ngFor="let error of errors" class="flex items-center">
                      <span class="material-icons text-red-500 mr-1">error</span>
                      {{ error }}
                    </li>
                  </ul>
                </div>
              </td>
              <td>

              </td>
            </tr>
          </app-table>
        </div>

      </div>

    } @else if (loading) {
      <div class="h-[calc(100vh-200px)] w-[calc(100vw-200px)] flex justify-center items-center">
        <span class="loading loading-infinity loading-lg"></span>
      </div>
    } @else if (!loading && materials.length > 0) {
      <div
        class="overflow-auto w-[90%] lg:w-[calc(100vw-100px)] 2xl:w-[calc(100vw-320px)] flex flex-col justify-center items-center border shadow">
        <h2 class="mb-5 bg-neutral-200 text-neutral-800 w-[100%] text-center text-sm p-1">
          Após conferir os dados clique no botão abaixo e aguarde até que a exportação seja finalizada!
        </h2>

        <div>
          <button type="button"
                  class="text-neutral-50 bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2"
                  (click)="null">
            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#e8eaed"><path d="M840-680v480q0 33-23.5 56.5T760-120H200q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h480l160 160Zm-80 34L646-760H200v560h560v-446ZM480-240q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35ZM240-560h360v-160H240v160Zm-40-86v446-560 114Z"/></svg>
            Confirmar Exportação
          </button>
        </div>

        <div class="p-3 w-[97%] border rounded-xl mt-5">
          <app-table>
            <tr class="bg-green-700 text-white" header>
              <th>1</th>
              <th>Nome do Material*</th>
              <th>Marca</th>
              <th>Potência</th>
              <th>Corrente (A)</th>
              <th>Tamanho</th>
              <th>Unidade de Compra*</th>
              <th>Unidade de Requisição*</th>
              <th>Tipo Material*</th>
              <th>Grupo Material*</th>
              <th>Empresa*</th>
              <th>Almoxarifado*</th>
            </tr>
            @for (m of materials; track m; let i = $index;) {
              <tr class="odd:bg-neutral-100" body>
                <td>{{ i+2 }}</td>
                <td>{{ m.materialName }}</td>
                <td>{{ m.materialBrand }}</td>
                <td>{{ m.power }}</td>
                <td>{{ m.amps }}</td>
                <td>{{ m.length }}</td>
                <td>{{ m.buyUnit }}</td>
                <td>{{ m.buyRequest }}</td>
                <td>{{ m.materialType }}</td>
                <td>{{ m.materialGroup }}</td>
                <td>{{ m.company }}</td>
                <td>{{ m.deposit }}</td>
              </tr>
            }
          </app-table>
        </div>
      </div>
    }


  </div>

</div>
