<div class="flex mt-[3rem] h-fit" #top>
  <div class="w-full">
    <div class="pt-2 border-b w-full pl-2 flex items-center justify-between">
      <div class="breadcrumbs text-sm">
        <ul class="select-none">
          <li><a href="/">Início</a></li>
          <li><a>Execuçoes</a></li>
          <li>Pré-medição</li>
        </ul>
      </div>
      <h3 class="text-medium pr-5 hidden lg:block">Selecione uma cidade</h3>
    </div>

    <div class="border-b w-full pl-2 h-screen pt-2">


      <ol class="flex flex-wrap">
        <li *ngFor="let city of cities | keyvalue; index as i;"
            class="w-56 cursor-pointer transform transition-transform duration-300 hover:scale-105 hover:translate-x-2 hover:translate-y-2 m-2">
          <div class="flex flex-col border rounded px-4 py-2">
          <span class="badge badge-accent rounded mb-4 mt-2">
            {{ parseInt(city.value[0]) }} itens
          </span>
            <h3 class="text-base font-normal text-neutral-700">{{ city.key }}</h3>
            <span class="text-xs">{{city.value[1]}} ruas</span>
          </div>
        </li>
      </ol>
    </div>


  </div>
</div>
