<div class="flex mt-[3rem] h-fit" #top>
  <div class="w-full">
    <div class="pt-2 border-b w-full pl-2 flex items-center justify-between">
      <div class="breadcrumbs text-sm">
        <ul class="select-none">
          <li><a>Início</a></li>
          <li><a>Execuçoes</a></li>
          <li>Pré-Medição</li>
        </ul>
      </div>
      <h3 class="text-medium pr-5">Pré-Medição</h3>
    </div>

    <div class="border-b w-full pl-2 flex h-8 items-center justify-end">
      <span class="text-xs hover:bg-neutral-300 cursor-pointer p-1 rounded flex mr-4"><span
        class="material-icons text-xs mr-1">remove</span>Remover Pré-Medição</span>
      <span class="text-xs hover:bg-neutral-300 cursor-pointer p-1 rounded flex"><span
        class="material-icons text-xs mr-1">add</span>Adicionar Pré-Medição</span>
    </div>

    <div class="border-b w-full pl-2 flex">
      <ul class="menu menu-xs rounded-lg w-full max-w-xs">
        <li>
          <details open>
            <summary class="font-semibold">
              Pré-medição
            </summary>
            <ul class="flex">
              <li>
                <div class="flex">
                  <div class="relative pt-4">
                    <span class="absolute top-0 left-2">Descrição</span>
                    <input type="text" class="input input-bordered input-xs">
                  </div>
                  <div class="relative pt-4">
                    <span class="absolute top-0 left-2">Descrição</span>
                    <input type="text" class="input input-bordered input-xs">
                  </div>
                </div>

                <details open>
                  <summary class="font-semibold">
                    Ruas
                  </summary>

                  <!--                  start streets -->
                  <ul>
                    <li class="flex items-center flex-row">
                      <div class="relative pt-4">
                        <span class="absolute top-0 left-2">Nome</span>
                        <input type="text" class="input input-bordered input-xs">
                      </div>
                      <div class="relative pt-4">
                        <span class="absolute top-0 left-2">Nome</span>
                        <input type="text" class="input input-bordered input-xs">
                      </div>
                      <div class="relative pt-4">
                        <span class="absolute top-0 left-2">Nome</span>
                        <input type="text" class="input input-bordered input-xs">
                      </div>

                      <span
                        class="text-xs hover:bg-neutral-300 cursor-pointer p-1 rounded flex mt-2">+ Adicionar Rua</span>
                    </li>

                  </ul>
                  <!--                  end streets-->

                </details>
              </li>
            </ul>
          </details>
        </li>
      </ul>


    </div>


  </div>
</div>
