<div class="flex mt-[3rem] h-fit" #top>
  <div class="w-full">
    <div class="pt-2 border-b w-full pl-2 flex items-center justify-between">
      <div class="breadcrumbs text-sm">
        <ul class="select-none">
          <li><a>Início</a></li>
          <li><a>Execuçoes</a></li>
          <li>Pré-Medição</li>
        </ul>
      </div>
      <h3 class="text-medium pr-5">Pré-Medição</h3>
    </div>

    <div class="border-b w-full pl-2 flex h-8 items-center justify-end">
      <span class="text-xs hover:bg-neutral-300 cursor-pointer p-1 rounded flex mr-4"><span
        class="material-icons text-xs mr-1">remove</span>Remover Pré-Medição</span>
      <span class="text-xs hover:bg-neutral-300 cursor-pointer p-1 rounded flex"><span
        class="material-icons text-xs mr-1">add</span>Adicionar Pré-Medição</span>
    </div>

    <div class="border-b w-full p-2">
      <div class="flex flex-col ">
        <h2 class="font-semibold">Pré-medição</h2>
        <div class="flex space-x-2">
          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text text-xs">Descrição</span>
            </div>
            <input type="text" placeholder="Type here" class="input input-xs input-bordered w-full max-w-xs"/>
          </label>
          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text text-xs">Estado</span>
            </div>
            <select class="select select-bordered select-xs">
              <option value="">Selecione o estado</option>
            </select>
          </label>
        </div>
        <div class="ml-10 mt-4 border-l pl-2">
          <h2 class="text-sm font-semibold">Informe as ruas</h2>
          <div class="flex space-x-2">
            <label class="form-control max-w-xs">
              <div class="label">
                <span class="label-text text-xs">x</span>
              </div>
              <input type="radio" class="radio radio-xs radio-primary">
            </label>
            <label class="form-control w-full max-w-xs">
              <div class="label">
                <span class="label-text text-xs">Descrição</span>
              </div>
              <input type="text" placeholder="Type here" class="input input-xs input-bordered w-full max-w-xs"/>
            </label>
            <label class="form-control w-full max-w-xs">
              <div class="label">
                <span class="label-text text-xs">Almoxarifado</span>
              </div>
              <select class="select select-bordered select-xs">
                <option value="">Selecione o almoxarifado</option>
              </select>
            </label>
            <label class="form-control">
              <div class="label">
                <span class="label-text text-xs">Adicionar rua</span>
              </div>
              <button class="btn btn-success rounded-2xl btn-xs text-white">+</button>
            </label>
          </div>
        </div>
      </div>
    </div>

    <!---->
    <div class="border-b p-2">
      <div class="flex justify-between mb-5">
        <h2 class="text-sm">Selecione os itens para a rua X</h2>
        <h2 class="text-xs font-semibold">Almoxarifado X</h2>
      </div>
      <app-table [search]="true">
        <tr header>
          <th></th>
          <th>Código</th>
          <th>Nome</th>
          <th>Quantidade</th>
        </tr>
        <tr body>
          <td class="p-0"><input type="checkbox" class="checkbox checkbox-success checkbox-xs"></td>
          <td><p type="text" class="input input-xs input-disabled"></p></td>
          <td><p type="text" class="input input-disabled input-xs"></p></td>
          <td>
            <input type="text" class="input input-bordered input-xs"
                   placeholder="Informe a quantidade">
          </td>
        </tr>
      </app-table>
    </div>

  </div>
</div>
