@if (currentUrl !== "/app/download") {
  <div class="flex flex-col space-y-2 max-h-screen overflow-auto">
    @if (authService.isLoading$ | async) {
      <div class="h-screen w-screen flex justify-center items-center max-h-screen overflow-auto">
        <span class="loading loading-infinity loading-lg"></span>
      </div>
    } @else {
      <!-- Conteúdo principal -->
      <div class="flex h-screen overflow-hidden">

        @if (authService.isLoggedIn$ | async) {

          <!-- SIDEBAR -->
          <div *ngIf="menuOpen"
               #menu
               [style.width.px]="sidebarWidth"
               class="border-r
                hidden md:block
                overflow-y-auto overflow-x-hidden
                max-h-screen mac-scroll
                bg-white dark:bg-neutral-900
                transition-[width] duration-150 ease-out">

            <app-sidebar></app-sidebar>
          </div>

          <!-- DRAG HANDLE -->
          <div *ngIf="menuOpen"
               class="w-1 cursor-col-resize
                bg-transparent hover:bg-blue-400/60
                transition-colors"
               (mousedown)="startResizing($event)">
          </div>

        }
        <div class="max-h-screen overflow-auto w-screen mac-scroll">
          <app-sidebar-drawer></app-sidebar-drawer>
          <app-notification-drawer></app-notification-drawer>
          <app-account-drawer></app-account-drawer>

          @if (authService.isLoggedIn$ | async) {
            <div class="border-r overflow-y-auto overflow-x-hidden max-h-screen mac-scroll" #menu>
              <app-header></app-header>
            </div>
          }
          <router-outlet></router-outlet>
        </div>
      </div>

      <!--    <div class="border rounded max-h-screen overflow-none" >-->
        <!--      <app-footer></app-footer>-->
        <!--    </div>-->

    }

  </div>
} @else {
  <router-outlet></router-outlet>
}
