<div class="flex h-fit" #top>
  <div class="w-full">
    <div class="w-full pl-2 flex items-center justify-center">
      <h3 class="text-medium pr-5 hidden lg:block">Instalaçoes Finalizadas</h3>
    </div>
    <div class="flex flex-col h-screen items-center justify-center py-20 text-center text-gray-500 w-full">
      <svg class="w-20 h-20 mb-4 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 48 48"
           xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M14 22h20M14 28h20M10 10h28a2 2 0 012 2v24a2 2 0 01-2 2H10a2 2 0 01-2-2V12a2 2 0 012-2z"/>
      </svg>

      <h3 class="text-lg font-semibold mb-2">Nenhuma execução encontrada</h3>
    </div>
  </div>
</div>
