<div class="relative w-full h-full">
  <app-prime-breadcrumb [title]="getDescription() ?? 'Visualizar'" [path]="['Pré-medição', 'Aguardando Análise', 'Detalhes']" ></app-prime-breadcrumb>

  <app-loading-overlay [loading]="loading"></app-loading-overlay>

  <div *ngIf="message !== 'Operação realizada com sucesso!'">
    <div class="flex justify-between mx-5 mb-5">
      <h2 class="text-3xl font-semibold">Itens</h2>
      <div class="flex gap-2">
        <p-button severity="secondary" rounded icon="pi pi-plus" label="Aditivar Contrato"
          (click)="utils.showMessage('Recurso em desenvolvimento! Por favor, aguarde enquanto trabalhamos.', 'info', 'Lumos SaaS')"></p-button>
        <p-button severity="secondary" rounded icon="pi pi-file-edit" label="Editar Itens"
          (click)="router.navigate(['/pre_medicao/editar'], {queryParams: {preMeasurementId: preMeasurement?.preMeasurementId}})"></p-button>
        <p-button severity="secondary" rounded icon="pi pi-file-pdf" label="Gerar relatório"
                  (click)="utils.showMessage('Recurso em desenvolvimento! Por favor, aguarde enquanto trabalhamos.', 'info', 'Lumos SaaS')"></p-button>
        <p-button severity="contrast" rounded icon="pi pi-check" label="Continuar" (click)="openConfirmation()"></p-button>
      </div>
    </div>
    <p-table [value]="items" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template #header>
        <tr>
          <th pSortableColumn="description">
            Descrição
            <p-sortIcon field="description" />
          </th>
          <th pSortableColumn="totalMeasured">Qtde. Necessária
            <p-sortIcon field="totalMeasured" /></th>
          <th pSortableColumn="totalContractedQuantity">Qtde. Contratada
            <p-sortIcon field="totalContractedQuantity" /></th>
          <th pSortableColumn="totalQuantityExecuted">Qtde. Executada
            <p-sortIcon field="totalQuantityExecuted" /></th>
          <th pSortableColumn="totalCurrentBalance">Saldo atual
            <p-sortIcon field="totalCurrentBalance" /></th>
          <th>Saldo</th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr [ngClass]="rowClass(item)" [ngStyle]="rowStyle(item)">
          <td>{{item.description}}</td>
          <td>{{item.totalMeasured}}</td>
          <td>{{item.totalContractedQuantity}}</td>
          <td>{{item.totalQuantityExecuted}}</td>
          <td>{{item.totalCurrentBalance}}</td>
          <td>
            <p-badge [value]="itemStatus(item)" [severity]="itemSeverity(item)" />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div *ngIf="message === 'Operação realizada com sucesso!'" class="h-full flex flex-col justify-center items-center">
    <h2 class="text-3xl font-semibold pb-8">{{message}}</h2>
    <p class="text-sm">
      A Pré-mediçao foi movida para tela
      <a routerLink="/pre-medicao/disponivel" pButton severity="contrast" rounded class="mx-2">
        <span pButtonLabel>Disponivel para execuçao</span>
      </a>
      clique para iniciar o gerenciamento.
    </p>
  </div>

  <app-prime-confirm-dialog *ngIf="message !== null && message !== 'Operação realizada com sucesso!'" [message]="message" (action)="$event === 'accept' ? confirmExecution() : message = null;" />

  <p-toast position="bottom-center"></p-toast>

</div>
