<div class="h-full w-full p-4 relative">
    <div class="flex justify-between item-center">
        <app-prime-breadcrumb title="" [path]="['Estoque', 'Movimentações Aprovadas']"></app-prime-breadcrumb>
    </div>

    <div class="p-2">
        <div class="card p-3">
            <p-steps [model]="items" [readonly]="false"/>
        </div>

        <p-table
            [value]="stockMovement"
            [lazy]="true"
            [responsiveLayout]="'scroll'"
            size="small"
            *ngIf="!isMobile">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 7rem;" class="text-xs">Data/Hora</th>
                    <th style="width: 35rem;" class="text-xs">Descrição</th>
                    <th style="width: 7rem;" class="text-xs">Quantidade</th>
                    <th style="width: 7rem;" class="text-xs">UN. Compra</th>
                    <th style="width: 10rem;" class="text-xs">Qtde. p/ embalagem</th>
                    <th style="width: 8rem;" class="text-xs">Qtde. Total</th>
                    <th style="width: 8rem;" class="text-xs">UN. Requisição</th>
                    <th style="width: 10rem;" class="text-xs">Preço total</th>
                    <th style="width: 7rem;" class="text-xs">Preço / Item</th>
                    <th style="width: 14rem;" class="text-xs">Almoxarifado</th>
                    <th style="width: 14rem;" class="text-xs">Responsável</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr body
                    class="hover:bg-gray-400 dark:hover:bg-gray-800">
                    <td style="width: 7rem;" class="text-xs">{{ row.dateOf | date:'dd/MM/yy HH:mm' }}</td>
                    <td style="width: 35rem;" class="text-xs">{{ row.materialName }}</td>
                    <td style="width: 7rem;" class="text-xs">{{ row.inputQuantity }}</td>
                    <td style="width: 7rem;" class="text-xs">{{ row.buyUnit }}</td>
                    <td style="width: 10rem;" class="text-xs">{{ row.quantityPackage ?? 'N/A' }}</td>
                    <td style="width: 8rem;" class="text-xs">{{ row.totalQuantity }}</td>
                    <td style="width: 8rem;" class="text-xs">{{ row.requestUnit }}</td>
                    <td style="width: 10rem;" class="text-xs">{{ row.priceTotal | currency }}</td>
                    <td style="width: 7rem;" class="text-xs">{{ row.pricePerItem | currency }}</td>
                    <td style="width: 14rem;" class="text-xs">{{ row.deposit }}</td>
                    <td style="width: 14rem;" class="text-xs">{{ row.responsible }}</td>
                </tr>
            </ng-template>

        </p-table>

        <div *ngIf="isMobile" class="flex flex-col items-center w-full px-4">

            <div
                *ngFor="let movement of stockMovement; let i = index"
                class="w-full">

                <div
                    class="flex flex-col border border-gray-200 dark:border-gray-700 rounded-2xl shadow-md hover:shadow-lg bg-white dark:bg-gray-900 p-6 mb-4">

                    <!-- Título -->
                    <h3 class="text-lg font-semibold text-gray-800 dark:text-neutral-100 mb-4">
                        {{ movement.materialName }}
                    </h3>

                    <div class="mb-4">
                        <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                            Data/Hora
                        </label>
                        <p class="font-medium text-gray-800 dark:text-neutral-100">
                            {{ movement.dateOf | date:'dd/MM/yyyy HH:mm' }}
                        </p>
                    </div>

                    <div class="mb-4">
                        <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                            Quantidade
                        </label>
                        <p class="font-medium text-gray-800 dark:text-neutral-100">
                            {{ movement.inputQuantity }}
                        </p>
                    </div>

                    <div class="mb-4">
                        <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                            Unidade de Compra
                        </label>
                        <p class="font-medium text-gray-800 dark:text-neutral-100">
                            {{ movement.buyUnit }}
                        </p>
                    </div>

                    <div class="mb-4">
                        <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                            Quantidade por embalagem
                        </label>
                        <p class="font-medium text-gray-800 dark:text-neutral-100">
                            {{ movement.quantityPackage ?? 'Não se aplica' }}
                        </p>
                    </div>

                    <!-- Preço pricePerItem -->
                    <div class="mb-4">
                        <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                            Preço por item
                        </label>
                        <p class="font-medium text-gray-800 dark:text-neutral-100">
                            {{ movement.pricePerItem }}
                        </p>
                    </div>

                    <!-- Preço total -->
                    <div class="mb-4">
                        <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                            Preço total
                        </label>
                        <p class="font-medium text-gray-800 dark:text-neutral-100">
                            {{ movement.priceTotal }}
                        </p>
                    </div>

                    <!-- Comentário -->
                    @if (movement.description !== "") {
                        <div class="mb-4">
                            <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                                Comentário
                            </label>
                            <p class="font-medium text-gray-800 dark:text-neutral-100">
                                {{ movement.description }}
                            </p>
                        </div>
                    }

                    <div class="mb-4">
                        <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                            Responsável
                        </label>
                        <p class="font-medium text-gray-800 dark:text-neutral-100">
                            {{ movement.responsible }}
                        </p>
                    </div>

                    <!-- Divider -->
                    <div class="border-t border-gray-200 dark:border-gray-700 my-4"></div>

                    <!-- Resumo -->
                    <div class="grid grid-cols-2 gap-4 text-sm">
                        <div class="text-right">
                            <p class="text-gray-500 dark:text-gray-400">Qtde. Total</p>
                            <p class="font-medium text-gray-800 dark:text-neutral-100">
                                {{ movement.totalQuantity }}
                            </p>
                        </div>

                        <div>
                            <p class="text-gray-500 dark:text-gray-400">UN. Requisição</p>
                            <p class="font-medium text-gray-800 dark:text-neutral-100">
                                {{ movement.requestUnit }}
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <p-toast/>

</div>
