.lumos-custom-popup .leaflet-popup-content-wrapper {
  padding: 0;
  overflow: hidden;
  border-radius: 12px;
  background: white;
}

.lumos-custom-popup .leaflet-popup-content {
  margin: 0;
  width: auto !important;
}

.lumos-custom-popup .leaflet-popup-tip {
  background: white;
}
