/* Remove o padding padrão do Leaflet para o card preencher tudo */
.lumos-custom-popup .leaflet-popup-content-wrapper {
  padding: 0;
  overflow: hidden;
  border-radius: 12px;
  background: white; /* Ou use as cores do seu tema dark se preferir */
}

.lumos-custom-popup .leaflet-popup-content {
  margin: 0;
  width: auto !important;
}

/* Customiza a "perninha" do popup */
.lumos-custom-popup .leaflet-popup-tip {
  background: white;
}
