<div class="flex mt-[3rem] h-fit" #top>
  <div class="w-full">
    <div class="pt-2 border-b w-full pl-2 flex items-center justify-between">
      <div class="breadcrumbs text-sm">
        <ul class="select-none">
          <li><a href="/">Início</a></li>
          <li><a href="/execucoes/lista-medicoes">Execuçoes pendentes</a></li>
          <li>Medição</li>
        </ul>
      </div>
      <!--      <h3 class="text-medium pr-5 hidden lg:block">{{ preMeasurement.measurement.address }}</h3>-->
    </div>

    <div>
      <h2 class="text-center mt-2 btn-link">Ruas pendentes</h2>
      <div class="relative w-full overflow-hidden border-b">
        <div
          class="flex overflow-x-auto scroll-smooth no-scrollbar ml-10 mr-10"
          #slider>
          <div
            *ngFor="let street of preMeasurement.streets"
            (click)="initMap(street.latitude, street.longitude); streetId = street.preMeasurementStreetId"
            class="mb-4 border p-4 rounded w-96 cursor-pointer transform transition-transform duration-300 hover:scale-105 hover:translate-x-2
            hover:translate-y-2 m-2 card-execution">
            <h3 class="text-lg font-semibold mb-2">{{ street.street }}</h3>
            <p class="text-sm text-gray-600">{{ street.items.length }} itens para reserva</p>
          </div>
        </div>

        <!-- Navegação -->
        <button
          class="absolute left-2 top-1/2 -translate-y-1/2 material-icons p-1 rounded bg-neutral-800 text-white"
          (click)="scrollLeft(slider)">
          arrow_back_ios
        </button>
        <button
          class="absolute right-2 top-1/2 -translate-y-1/2 material-icons p-1 rounded bg-neutral-800 text-white"
          (click)="scrollRight(slider)">
          arrow_forward_ios
        </button>
      </div>

    </div>


    <div class="w-full pl-2 lg:flex pb-2 pt-2">
      <div class="w-1/2">
        <ol>
          <li class="flex justify-end border-b pb-2">
            <span class="badge badge-primary mr-2 rounded">{{ getStreet(streetId)?.latitude }}</span>
            <span class="badge badge-primary mr-2 rounded">{{ getStreet(streetId)?.longitude }}</span>
          </li>
          <li>
            <div id="map" class="h-[400px]"></div>
          </li>
          <li class="flex border-b p-2 items-center">
            <span class="material-icons mr-2 text-neutral-500 cursor-pointer select-none
              transform transition-all duration-300 ease-in-out
              hover:text-orange-600 hover:scale-110 hover:text-[1.75rem]"
                  (click)="toggleButton(warning, warningText)"
                  #warning>warning_amber</span>
            <span #warningText class="text-xs">Sem prioridade</span>
          </li>
          <li class="flex border-b p-2 items-center">
            <span #warningText class="text-xs">Nenhuma equipe selecionada</span>
          </li>
          <li class="flex border-b p-2 items-center">
            <textarea class="w-full border text-xs p-2">
              Adicionar comentario
            </textarea>
          </li>
          <li class="flex border-b p-2 items-center">
            <button
              class="btn bg-indigo-600 text-white hover:bg-indigo-700 rounded-none shadow w-full transform transition-transform duration-300 hover:scale-5 hover:translate-y-2">
              Selecionar Equipe
            </button>
          </li>
          <li class="flex border-b p-2 items-center">
            <button
              class="btn bg-indigo-600 text-white hover:bg-indigo-700 rounded-none shadow w-full transform transition-transform duration-300 hover:scale-5 hover:translate-y-2">
              Enviar Pedido
            </button>
          </li>
        </ol>
      </div>


      <div class="ml-2 pl-2 border-l w-1/2">
        <div class="flex border-b items-center justify-between p-2">
          <h3 class="text-base">ALMOXARIFADO GALPÃO BH</h3>
          <span class="badge badge-success rounded text-neutral-100 select-none">
          Todos os itens possuem estoque
        </span>
        </div>

        <app-table [className]="'table table-zebra border-t mt-4'">
          <tr header>
            <th></th>
            <th>Material</th>
            <th>Potência</th>
            <th>Corrente (A)</th>
            <th>Tamanho</th>
            <th>Quantidade</th>
            <th>Qtde. Estoque</th>
          </tr>
          <!--          <tr body *ngFor="let i of preMeasurement.items; index as index;">-->
          <!--            <td>{{ index + 1 }}</td>-->
          <!--            <td>{{ i.material }}</td>-->
          <!--            <td>100W</td>-->
          <!--            <td></td>-->
          <!--            <td>100CM</td>-->
          <!--            <td class="font-semibold text-blue-600">{{ i.materialQuantity }}</td>-->
          <!--            <td class="font-semibold text-green-600">44</td>-->
          <!--          </tr>-->

        </app-table>
      </div>

    </div>


  </div>
</div>
