<div class="flex mt-[4rem] h-fit" #top>
  <app-sidebar title="{{title}}" [links]="sidebarLinks"></app-sidebar>
  <div class="ml-12 lg:ml-14 2xl:ml-[19rem] flex w-full justify-center">
    <div class="border rounded-xl shadow p-4 flex flex-col items-center mt-44 w-[85vw] xl:w-[80rem] 2xl:w-[50rem]">
      <span class="material-icons text-error text-[10rem] ml-[50rem]">gpp_bad_icon</span>
      <h2 class="font-bold text-xl mb-2">Acesso Negado</h2>
      <p>Você não está autorizado a prosseguir com a operação escolhida.</p>
      <p>Use o menu superior ou lateral para acessar outra rotina.</p>
    </div>
  </div>
</div>
