<div class="flex h-full w-full items-center justify-center" #top>
  <div class="w-full">
    <div class="pt-2  w-full pl-2 flex flex-col items-center justify-between">
      <i class="fa-solid fa-lock text-error text-3xl mb-2"></i>
<!--      <i class="fa-solid fa-shield-halved"></i>-->
      <h2 class="font-bold text-xl mb-2">Acesso Negado</h2>
      <p>Sua função atual no sistema não permite acessar esta área.</p>
      <p>Fale com o <strong>Administrador</strong> caso precise de acesso ou use o menu para acessar outra rotina.</p>
    </div>
  </div>
</div>
