<div class="flex">
  <div class="mb-5 w-full">
    <div class="pt-2 w-full pl-2 flex items-center justify-between">
      <div class="breadcrumbs text-sm">
        <ul class="select-none">
          <li><a href="/início">Início</a></li>
          <li><a href="/estoque">Estoque</a></li>
          <li>Pendente de Aprovação</li>
        </ul>
      </div>
      <h3 class="text-medium pr-5 hidden lg:block">Clique nos materiais desejados para aprovar as movimentações</h3>
    </div>

    <div class="mt-4 p-2">
      <div class="card p-3">
        <p-steps [model]="items" [readonly]="false" />
      </div>

      <app-table>
        <tr header>
          <th>Codigo</th>
          <th>Comentário</th>
          <th>Material</th>
          <th>Quantidade Total</th>
          <th>Unid. Requisição</th>
          <th>Preço total</th>
          <th>Preço por Item</th>
          <th>Fornecedor</th>
          <th>Empresa</th>
          <th>Almoxarifado</th>
          <th>Responsável</th>
        </tr>
        <tr *ngFor="let row of stockMovement; let i = index" class="odd:bg-neutral-100 cursor-pointer dark:odd:bg-neutral"
            (click)="handleOpenModal(row.id)" body>
          <td>{{ row.id }}</td>
          <td>{{ row.description }}</td>
          <td>{{ row.materialName }}</td>
          <td>{{ row.inputQuantity }}</td>
          <td>{{ row.requestUnit }}</td>
          <td>{{ Number(row.pricePerItem) * row.inputQuantity | currency }}</td>
          <td>{{ row.pricePerItem | currency }}</td>
          <td>{{ row.supplierName }}</td>
          <td>{{ row.company }}</td>
          <td>{{ row.deposit }}</td>
          <td>{{ row.employee }}</td>
        </tr>
      </app-table>

    </div>

    <!--    modal confirmation-->
    @if (openModalAprovation) {
      <app-modal [modalOpen]="openModalAprovation" [confirmation]="true" (modalClose)="closeAprovationModal()" classModal="rounded">
        <div class="px-6 py-4 text-gray-800 dark:text-gray-200">
          <h3 class="text-center text-lg font-semibold mb-6 dark:text-white">
            Confirma a transação?
          </h3>

          <ul class="space-y-2 text-sm">
            <li>
              <span class="font-medium text-gray-600 dark:text-gray-400">Material:</span>
              {{ movement.materialName }}
            </li>
            <li>
              <span class="font-medium text-gray-600 dark:text-gray-400">Unid. Compra:</span>
              {{ movement.buyUnit }}
            </li>
            <li>
              <span class="font-medium text-gray-600 dark:text-gray-400">Quantidade:</span>
              {{ movement.inputQuantity }}
            </li>
            <li>
              <span class="font-medium text-gray-600 dark:text-gray-400">Qtde. p/ Embalagem:</span>
              {{ movement.quantityPackage ?? 'Não se aplica'  }}
            </li>
            <li>
              <span class="font-medium text-gray-600 dark:text-gray-400">Preço Total:</span>
              <span class="font-bold text-green-700 dark:text-green-400">
          {{ movement.pricePerItem * movement.inputQuantity | currency:'BRL':'symbol':'1.2-2' }}
        </span>
            </li>
            <li>
              <span class="font-medium text-gray-600 dark:text-gray-400">Fornecedor:</span>
              {{ movement.supplierName }}
            </li>
            <li>
              <span class="font-medium text-gray-600 dark:text-gray-400">Almoxarifado:</span>
              {{ movement.deposit }}
            </li>
          </ul>

          <div class="flex justify-between gap-4 mt-8">
            <app-button
              (click)="RejectMovement()"
              title="Rejeitar"
              classButton="bg-red-600 hover:bg-red-700 text-white font-semibold px-4 py-2 rounded dark:bg-red-700 dark:hover:bg-red-800"
            ></app-button>

            <app-button
              (click)="submitAprovationMovement()"
              title="Aprovar Movimento"
              classButton="bg-indigo-600 hover:bg-indigo-700 text-white font-semibold px-4 py-2 rounded dark:bg-indigo-500 dark:hover:bg-indigo-600"
            ></app-button>
          </div>
        </div>
      </app-modal>

    }

    <p-toast/>
    
  </div>
</div>
