<div class="h-full w-full">
  <div class="flex justify-between items-center">
    <app-breadcrumb
      [currentTitle]="description"
      previousPath="/requisicoes/execucoes/reservas/gerenciamento"
      previousTitle="Gerenciamento">
    </app-breadcrumb>

    <p class="mr-5 font-medium text-neutral-700 dark:text-neutral-100">{{reserve.streets[0].comment !== 'DIRECT_EXECUTION' ? 'Selecione uma rua' : ''}}</p>
  </div>


  <div *ngIf="reserve.streets[0].comment !== 'DIRECT_EXECUTION'">
    <p-carousel
      [value]="reserve.streets"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="false"
      [responsiveOptions]="responsiveOptions">
      <ng-template let-street #item>
        <div
          [class.selected]="streetId === street.preMeasurementStreetId"
          (click)="startReservation(street)"
          class="mb-4 border p-4 rounded min-w-96 w-96 cursor-pointer transform transition-transform duration-300 hover:scale-105 hover:translate-x-2 hover:translate-y-2 m-2 card-execution select-none">
          <h3 class="text-lg font-semibold mb-2">{{ street.streetName }}</h3>
          <div class="flex items-center justify-between">
            <p class="text-sm text-gray-600 dark:text-neutral-100">{{ street.items.length }} itens pendentes de
              reserva</p>
            <i class="fa-solid fa-triangle-exclamation text-warning" *ngIf="street.prioritized"></i>
          </div>

        </div>
      </ng-template>

    </p-carousel>
  </div>

  <div>
    <p-table [tableStyle]="{ 'min-width': '50rem' }" *ngIf="streetId === null && directExecutionId === null" [value]="tableSk">
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th colspan="" pSortableColumn="description">Descrição
            <p-sortIcon field="description"/>
          </th>
          <th pSortableColumn="price">Especificação
            <p-sortIcon field="price"/>
          </th>
          <th pSortableColumn="category">Equipe Responsável
            <p-sortIcon field="category"/>
          </th>
          <th pSortableColumn="quantity">Quantidade Necessária
            <p-sortIcon field="quantity"/>
          </th>
          <th pSortableColumn="inventoryStatus">Status
            <p-sortIcon field="inventoryStatus"/>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tbSk>
        <tr>
          <td class="p-4">
            <p-skeleton/>
          </td>
          <td>
            <p-skeleton/>
          </td>
          <td>
            <p-skeleton/>
          </td>
          <td>
            <p-skeleton/>
          </td>
          <td>
            <p-skeleton/>
          </td>
          <td>
            <p-skeleton/>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-table
      *ngIf="streetId !== null || directExecutionId !== null"
      #table_parent
      [value]="street.items" dataKey="itemId" [tableStyle]="{ 'min-width': '60rem' }"
      [expandedRowKeys]="expandedRows"
      editMode="row"
      (onRowExpand)="onRowExpand($event.data)">


      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5rem"></th>
          <!--          <th pSortableColumn="itemId">Id-->
          <!--            <p-sortIcon field="itemId"/>-->
          <!--          </th>-->
          <th pSortableColumn="description">Descrição
            <p-sortIcon field="description"/>
          </th>
          <th pSortableColumn="linking">Especificação
            <p-sortIcon field="linking"/>
          </th>
          <th pSortableColumn="category">Equipe Responsável
            <p-sortIcon field="category"/>
          </th>
          <th pSortableColumn="quantity">Quantidade Necessária
            <p-sortIcon field="quantity"/>
          </th>
          <th pSortableColumn="inventoryStatus">Status
            <p-sortIcon field="inventoryStatus"/>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-item let-expanded="expanded">
        <tr>
          <td>
            <p-button type="button" pRipple [pRowToggler]="item" [text]="true" [rounded]="false" [plain]="true"
                      [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"/>
          </td>
          <!--          <td>{{ item.itemId }}</td>-->
          <td>{{ item.description }}</td>
          <td>
            <p-tag [value]="item.linking" *ngIf="item.linking" severity="contrast"/>
          </td>
          <td (click)="verifyTeamData()">
            <p-tag severity="info" styleClass="cursor-pointer" pTooltip="Clique para detalhes">{{ street.teamName }}
            </p-tag>
          </td>
          <td>{{ item.quantity }}</td>
          <td>
            <p-tag [value]="item.materials?.length > 0 ? 'RESERVADO' : 'PENDENTE'"
                   [severity]="item.materials?.length > 0 ? 'success' : 'danger'"/>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="rowexpansion">
        <tr>
          <td colspan="7">

            <p-table #table_collapse
                     [value]="filteredMaterials"
                     editMode="row"
                     selectionMode="single"
                     [(selection)]="selectedMaterial"
                     dataKey="materialId">

              <ng-template pTemplate="header">
                <tr>
                  <th>Descrição</th>
                  <th>Especificação</th>
                  <th>Estoque</th>
                  <th>Depósito</th>
                  <th>Quantidade</th>
                  <th></th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-material let-editing="editing">
                <tr [pSelectableRow]="material" [pEditableColumn]="material.materialStockId"
                    (click)="onRowClick($event, material.materialStockId)"
                    pEditableColumnField="materialStockId">
                  <td>
                    {{ material.materialName }}
                  </td>
                  <td>
                    <p-tag [value]="material.materialPower ?? material.materialLength"
                           *ngIf="material.materialPower || material.materialLength" severity="contrast"/>
                  </td>
                  <td class="text-center">
                    <p-tag [value]="material.availableQuantity <= 0 ? 'Sem Estoque' : material.availableQuantity + ' ' + material.requestUnit"
                           [severity]="material.availableQuantity ? 'success' : 'danger'"></p-tag>
                  </td>
                  <td>{{ material.deposit }}</td>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="output">{{ getQuantity(material.materialStockId, material.deposit) ?? 0 }}</ng-template>
                      <ng-template pTemplate="input">
                        <input pInputText (input)="utils.formatFloatNumber($event)" placeholder="Informe a quantidade"
                               [(ngModel)]="setQuantity.quantity"/>
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td class="space-x-2">
                    <p-button label="Remover" icon="pi pi-trash" size="small" variant="text" severity="contrast"
                              *ngIf="existsMaterial(material.materialStockId, material.deposit)"
                              (click)="Cancel(material)"/>
                    <p-button label="Confirmar" icon="pi pi-check" size="small" [raised]="true"
                              *ngIf="currentMaterialId === material.materialStockId"
                              (click)="Confirm(material)"/>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <div class="w-full flex justify-center mt-10">
      <!--      <p-skeleton *ngIf="streetId === 0" width="20" height="100px" class="mr-2"></p-skeleton>-->
      <button class="w-1/5" *ngIf="streetId === null && directExecutionId === null">
        <p-skeleton height="2.5rem"/>
      </button>

      <button
        pButton type="button"
        label="Salvar tudo"
        (click)="sendData()" class="w-1/5"
        *ngIf="streetId !== null || directExecutionId !== null">
      </button>
    </div>
  </div>

  <p-dialog
    [header]="'Equipe ' + street.teamName"
    [modal]="true"
    [(visible)]="showModalTeam"
    position="bottom"
    [style]="{ width: '25rem', padding: '1rem' }"
    [dismissableMask]="true"
  >
    <ng-container *ngIf="loading">
      <div class="flex h-40 w-full justify-center items-center">
        <app-loading></app-loading>
      </div>
    </ng-container>

    <ng-container *ngIf="!loading && filteredUsers.length > 0">
      <div *ngFor="let user of filteredUsers; index as i;" class="mb-4 border-b pb-3">
        <div class="flex items-center gap-3">
          <i class="pi pi-phone"></i>
          <div class="flex flex-col">
            <span class="font-semibold text-gray-800 dark:text-neutral-100">{{ user.name + ' ' + user.last_name }}</span>
            <a
              *ngIf="user.phone_number"
              [href]="'tel:' + user.phone_number"
              class="text-blue-600 hover:underline flex items-center gap-1"
            >
              {{ user.phone_number | mask: '(00) 00000-0000' }}
            </a>

            <p *ngIf="!user.phone_number">
              Telefone não cadastrado
            </p>

          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!loading && filteredUsers.length === 0">
      <div class="flex h-32 w-full justify-center items-center">
        <p>Cadastro não encontrado para essa equipe</p>
      </div>
    </ng-container>

  </p-dialog>

  <p-toast />
</div>


