<div class="h-full w-full p-4 relative">
    <div class="flex justify-between item-center">
        <app-prime-breadcrumb title="" [path]="['Estoque', 'Movimentar Estoque']"></app-prime-breadcrumb>
        <span (click)="currentDeposit = undefined; loading = true; sendMovement = []; materials = [];"
              class="p-5 cursor-pointer"
              *ngIf="currentDeposit && !showFormMobile">Alterar Almoxarifado</span>
        <span (click)="showFormMobile = false; scannerEnabled = true"
              class="p-5 cursor-pointer flex items-center"
              *ngIf="showFormMobile">
            <svg
                class="mr-2"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 -960 960 960"
                height="24"
                width="24"
                fill="black">
                    <path
                        d="M40-120v-182h60v122h122v60H40Zm697 0v-60h122v-122h60v182H737ZM153-231v-499h80v499h-80Zm121 0v-499h42v499h-42Zm122 0v-499h83v499h-83Zm125 0v-499h121v499H521Zm163 0v-499h42v499h-42Zm83 0v-499h38v499h-38ZM40-658v-182h182v60H100v122H40Zm819 0v-122H737v-60h182v182h-60Z"
                    />
            </svg>
            Reativar Modo Scanner
        </span>
    </div>

    <div class="p-2">
        <div class="card p-3">
            <p-steps [model]="items" [readonly]="false"/>
        </div>

        <div class="mb-2" *ngIf="!currentDeposit">
            <p-dropdown
                (onChange)="selectDeposit()"
                [(ngModel)]="currentDeposit"
                [options]="deposits"
                placeholder="Selecione o Almoxarifado"
                class="w-full rounded-xl">
                <!-- Label na lista -->
                <ng-template let-deposit
                             pTemplate="item"> {{ deposit.teamName !== null ? 'CAMINHÃO ' + deposit.teamName?.toUpperCase() : deposit.depositName }}
                </ng-template>

                <!-- Label selecionada -->
                <ng-template let-deposit pTemplate="selectedItem">
                    {{ deposit.teamName !== null ? 'CAMINHÃO ' + deposit.teamName?.toUpperCase() : deposit.depositName }}
                </ng-template>
            </p-dropdown>

        </div>

        <p-toolbar *ngIf="currentDeposit && !isMobile">

            <!-- START: ações principais -->
            <ng-template #start>
                <div class="flex flex-col 2xl:flex-row items-center gap-1 2xl:gap-0">
                    <!-- Botão Adicionar -->
                    <p-button
                        rounded
                        icon="pi pi-plus"
                        label="Adicionar"
                        severity="contrast"
                        class="mr-2"
                        (click)="router.navigate(['/estoque/cadastrar-material'])"
                    ></p-button>

                    <!-- Botão scanner contínuo -->
                    <p-button
                        severity="secondary"
                        rounded
                        class="flex justify-between items-center w-full max-w-md"
                        label="Ativar modo scanner contínuo"
                        (click)="checkBarcode()"
                    >
                        <!-- Ícone SVG dentro do botão -->
                        <ng-template pTemplate="icon">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 -960 960 960"
                                height="24"
                                width="24"
                                fill="black">
                                <path
                                    d="M40-120v-182h60v122h122v60H40Zm697 0v-60h122v-122h60v182H737ZM153-231v-499h80v499h-80Zm121 0v-499h42v499h-42Zm122 0v-499h83v499h-83Zm125 0v-499h121v499H521Zm163 0v-499h42v499h-42Zm83 0v-499h38v499h-38ZM40-658v-182h182v60H100v122H40Zm819 0v-122H737v-60h182v182h-60Z"
                                />
                            </svg>
                        </ng-template>
                    </p-button>
                </div>
            </ng-template>


            <!-- CENTER: pesquisa + scanner + limpar filtros -->
            <ng-template #center>
                <p-iconfield iconPosition="left">
                    <p-inputicon class="pi pi-search"/>
                    <input
                        pInputText
                        placeholder="Pesquisar por descrição ou código de barras"
                        class="w-[28rem]"
                        [value]="searchValue"
                        (input)="handleSearch($any($event.target).value)"
                    />
                </p-iconfield>
            </ng-template>

            <!-- END: toggle apenas selecionados / todos -->
            <ng-template #end>
                <p-togglebutton
                    [(ngModel)]="onlySelected"
                    onLabel="Exibir todos"
                    offLabel="Apenas selecionados"
                    onIcon="pi pi-list"
                    offIcon="pi pi-check"
                    styleClass="w-60 rounded-3xl"
                ></p-togglebutton>
            </ng-template>

        </p-toolbar>


        <p-table
            *ngIf="currentDeposit && !isMobile"
            [value]="materials"
            [paginator]="true"
            [rows]="rows"
            [totalRecords]="totalRecords"
            [lazy]="true"
            (onLazyLoad)="onPageChange($event)"
            [responsiveLayout]="'scroll'">
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th>Código de Barras</th>
                    <th>Descrição</th>
                    <th>Unidade Compra</th>
                    <th>Unidade Requisição</th>
                    <th>Qtde. Estoque</th>
                    <th>Almoxarifado</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td>
                        <input
                            type="checkbox"
                            class="checkbox"
                            [checked]="isChecked(row.materialStockId)"
                            (change)="addMovement(row, true)"
                        />
                    </td>
                    <td>
                          <span
                              *ngIf="row.barcode; else missingBarcode"
                              class="text-gray-800 dark:text-gray-200"
                          >
                        {{ row.barcode }}
                      </span>

                        <ng-template #missingBarcode>
                            <button
                                type="button"
                                class="flex items-center gap-2 px-2 py-1 rounded-md
                                        bg-amber-100 text-amber-700
                                        hover:bg-amber-200 hover:text-amber-800
                                        transition-colors text-sm font-semibold"
                                (click)="goToCatalog(row)"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-4 w-4"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M12 9v2m0 4h.01M10.29 3.86l-7.4 12.82A1 1 0 003.75 18h16.5a1 1 0 00.86-1.5l-7.4-12.82a1 1 0 00-1.72 0z"/>
                                </svg>

                                Revisar cadastro
                            </button>
                        </ng-template>
                    </td>

                    <td>{{ row.materialName }}</td>
                    <td>{{ row.buyUnit }}</td>
                    <td>{{ row.requestUnit }}</td>
                    <td>{{ row.stockQuantity }}</td>
                    <td>{{ row.depositName }}</td>
                </tr>
            </ng-template>

        </p-table>
        <div class="sticky bottom-0 bg-[#ffffff] dark:bg-[#18181b] py-4 px-10 flex justify-end z-10"
             *ngIf="currentDeposit && !isMobile">
            <p-button
                (onClick)="handleContinue()"
                label="Continuar"
                severity="contrast"
                rounded
                size="large"/>
        </div>

        <!--    table skeleton -->
        <p-table
            [value]="skeleton"
            [tableStyle]="{ 'min-width': '50rem' }"
            *ngIf="loading && !isMobile">
            <ng-template pTemplate="header" *ngIf="!currentDeposit">
                <tr>
                    <th></th>
                    <th>Código de Barras</th>
                    <th>Descrição</th>
                    <th>Unidade Compra</th>
                    <th>Unidade Requisição</th>
                    <th>Qtde. Estoque</th>
                    <th>Almoxarifado</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td class="w-16 p-3">
                        <p-skeleton/>
                    </td>
                    <td>
                        <p-skeleton/>
                    </td>
                    <td>
                        <p-skeleton/>
                    </td>
                    <td>
                        <p-skeleton/>
                    </td>
                    <td>
                        <p-skeleton/>
                    </td>
                    <td>
                        <p-skeleton/>
                    </td>
                    <td>
                        <p-skeleton/>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <!--    end-->

    </div>


    <!--    modal change -->
    <!--    desktop-->
    <p-dialog
        [(visible)]="openMovementModal"
        modal="true"
        styleClass="p-fluid"
        header="Movimentação"
        (onHide)="openMovementModal = false">

        <form #movementForm="ngForm">

            <p-table
                [value]="sendMovement"
                responsiveLayout="scroll"
                size="small"
                tableStyleClass="p-table-fixed">

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 18rem;" class="text-xs">Descrição</th>
                        <th style="width: 10rem;" class="text-xs">Quantidade*</th>
                        <th style="width: 7rem;" class="text-xs">UN. Compra</th>
                        <th style="width: 12rem;" class="text-xs">Qtde. p/ embalagem*</th>
                        <th style="width: 10rem;" class="text-xs">Preço total*</th>
                        <th style="width: 14rem;" class="text-xs">Comentário</th>
                        <th style="width: 8rem;" class="text-xs">UN. Requisição</th>
                        <th style="width: 8rem;" class="text-xs">Qtde. Total</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-movement let-i="rowIndex">
                    <tr>

                        <!-- Descrição -->
                        <td style="width: 18rem;">
                            <input
                                pInputText
                                class="p-inputtext-sm w-full p-disabled"
                                readonly
                                [value]="movement.materialName"
                                name="materialName{{ i }}"
                                pTooltip="{{ movement.materialName }}"/>
                        </td>

                        <!-- Quantidade -->
                        <td style="width: 10rem;">
                            <input
                                pInputText
                                class="p-inputtext-sm w-full text-right"
                                required
                                [(ngModel)]="movement.inputQuantity"
                                name="inputQuantity{{ i }}"
                                (input)="utils.formatNumber($event)"
                                (blur)="calculateQuantity(movement)"
                                placeholder="Digite aqui"
                                #inputQuantity="ngModel"/>
                        </td>

                        <!-- UN. Compra -->
                        <td style="width: 7rem;">
                            <input
                                pInputText
                                class="p-inputtext-sm w-full p-disabled text-center"
                                readonly
                                [ngModel]="movement.buyUnit"
                                name="buyUnit{{ i }}"/>
                        </td>

                        <!-- Qtde. p/ embalagem -->
                        <td style="width: 12rem;">
                            <ng-container *ngIf="getOption(movement); else naTemplate">
                                <input
                                    pInputText
                                    class="p-inputtext-sm w-full text-right"
                                    required
                                    [(ngModel)]="movement.quantityPackage"
                                    name="quantityPackage{{ i }}"
                                    (blur)="calculateQuantity(movement)"
                                    (input)="utils.formatNumber($event)"
                                    pTooltip="{{ getTooltipText(movement.buyUnit) }}"
                                    tooltipPosition="right"
                                    #quantityPackage="ngModel"/>
                            </ng-container>

                            <ng-template #naTemplate>
                                <input
                                    pInputText
                                    class="p-inputtext-sm w-full p-disabled text-center"
                                    readonly
                                    value="N/A"
                                    name="requestUnit{{ i }}"/>
                            </ng-template>
                        </td>

                        <!-- Preço total -->
                        <td style="width: 10rem;">
                            <input
                                pInputText
                                class="p-inputtext-sm w-full text-right"
                                required
                                [(ngModel)]="movement.priceTotal"
                                name="priceTotal{{ i }}"
                                (input)="formatValue($event, i)"
                                placeholder="R$"
                                #price="ngModel"/>
                        </td>

                        <!-- Comentário -->
                        <td style="width: 14rem;">
                            <input
                                pInputText
                                class="p-inputtext-sm w-full"
                                [(ngModel)]="movement.description"
                                name="description{{ i }}"
                                placeholder="Digite aqui"/>
                        </td>

                        <!-- UN. Requisição -->
                        <td style="width: 8rem;">
                            <input
                                pInputText
                                class="p-inputtext-sm w-full p-disabled text-center"
                                readonly
                                [ngModel]="movement.requestUnit"
                                name="requestUnit{{ i }}"/>
                        </td>

                        <!-- Qtde. Total -->
                        <td style="width: 8rem;">
                            <input
                                pInputText
                                class="p-inputtext-sm w-full p-disabled text-right"
                                readonly
                                [ngModel]="movement.totalQuantity"
                                name="totalQuantity{{ i }}"/>
                        </td>

                    </tr>
                </ng-template>

            </p-table>

            <p-divider></p-divider>

            <p-message
                *ngIf="movementForm.invalid && formSubmitted"
                severity="error"
                styleClass="mb-2"
                text="Preencha todos os campos obrigatórios (*)">
            </p-message>

            <div class="flex justify-end gap-2">
                <p-button
                    class="p-button-sm"
                    type="button"
                    label="Cancelar"
                    severity="secondary"
                    (onClick)="openMovementModal = false">
                </p-button>

                <p-confirmpopup #cp>
                    <ng-template #headless let-message>
                        <div class="rounded p-4">
                            <span>{{ message.message }}</span>
                            <div class="flex items-center gap-2 mt-4">
                                <p-button (onClick)="cp.onAccept()" label="Salvar" size="small" [autofocus]="true"/>
                                <p-button (onClick)="cp.onReject()" label="Cancelar" [text]="true" size="small"
                                          severity="secondary"/>
                            </div>
                        </div>
                    </ng-template>
                </p-confirmpopup>
                <p-button
                    class="p-button-sm"
                    type="button"
                    label="Salvar Movimentação"
                    (onClick)="submitFormMovement(movementForm, $event)"
                    icon="pi pi-check">
                </p-button>
            </div>

        </form>
    </p-dialog>

    <!--    mobile-->
    <p-skeleton width="100%" height="calc(100vh - 20rem)" *ngIf="loading && isMobile"/>

    <div class="relative w-full h-[calc(100vh-18rem)] bg-black" *ngIf="scannerEnabled">

        <!-- Scanner -->
        <zxing-scanner
            [formats]="formats"
            (scanSuccess)="onScanSuccess($event)"
            class="absolute inset-0 w-full h-full object-cover">
        </zxing-scanner>

        <!-- Overlay escuro -->
        <div class="absolute inset-0 bg-black/50 pointer-events-none"></div>

        <!-- Área de foco -->
        <div class="absolute inset-0 flex items-center justify-center pointer-events-none">
            <div
                class="relative w-72 h-72 border-2 rounded-xl transition-colors duration-200"
                [ngClass]="{
                'border-green-400': scanState === 'idle',
                'border-blue-400': scanState === 'processing',
                'border-red-400': scanState === 'error'
            }">

                <!-- Linha -->
                <div
                    class="absolute left-2 right-2 h-0.5 animate-scan-line"
                    [ngClass]="{
                    'bg-green-400': scanState === 'idle',
                    'bg-blue-400': scanState === 'processing',
                    'bg-red-400': scanState === 'error'
                }">
                </div>
            </div>
        </div>

        <!-- Texto de instrução -->
        <div class="absolute bottom-6 w-full text-center px-4">
            <p class="text-white text-sm opacity-90 mb-10">
                Aponte a câmera para o código de barras
            </p>

            <p-button
                (onClick)="handleContinue()"
                label="Finalizar Leitura"
                severity="contrast"
                rounded
                size="large"/>
        </div>

        <!-- Indicador ativo -->
        <div
            class="absolute top-4 left-4 flex items-center gap-2 bg-black/60 px-3 py-1 rounded-full">
            <span class="w-2 h-2 bg-green-400 rounded-full animate-pulse"></span>
            <span class="text-xs text-white">Scanner ativo</span>
        </div>

    </div>

    <div *ngIf="showFormMobile" class="flex flex-col items-center w-full px-4">

        <div
            *ngFor="let movement of sendMovement; let i = index"
            class="w-full">

            <div
                [class.hidden]="movement.hidden"
                class="flex flex-col border border-gray-200 dark:border-gray-700 rounded-2xl shadow-md hover:shadow-lg bg-white dark:bg-gray-900 p-6 mb-4">

                <!-- Título -->
                <h3 class="text-lg font-semibold text-gray-800 dark:text-neutral-100 mb-4">
                    {{ movement.materialName }}
                </h3>
                <h4 class="text-sm font-semibold text-gray-800 dark:text-neutral-100 mb-4 items-center flex">
                    <span class="pi pi-barcode mr-2"></span>
                    {{ movement.barcode }}
                </h4>

                <!-- Quantidade -->
                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                        Quantidade*
                    </label>
                    <input
                        pInputText
                        class="w-full text-right"
                        type="number"
                        inputmode="numeric"
                        required
                        [(ngModel)]="movement.inputQuantity"
                        name="inputQuantityMobile{{ i }}"
                        (input)="utils.formatNumber($event); movement.invalid = false"
                        (blur)="calculateQuantity(movement)"
                    />
                </div>

                <!-- Quantidade por embalagem -->
                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                        Qtde. por embalagem*
                    </label>

                    <ng-container *ngIf="getOption(movement); else na">
                        <input
                            type="number"
                            inputmode="numeric"
                            pInputText
                            class="w-full text-right"
                            required
                            [(ngModel)]="movement.quantityPackage"
                            name="quantityPackageMobile{{ i }}"
                            (input)="utils.formatNumber($event); movement.invalid = false"
                            (blur)="calculateQuantity(movement)"
                            pTooltip="{{ getTooltipText(movement.buyUnit) }}"
                        />
                    </ng-container>

                    <ng-template #na>
                        <input
                            pInputText
                            class="w-full p-disabled text-center"
                            readonly
                            value="N/A"
                        />
                    </ng-template>
                </div>

                <!-- Preço total -->
                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                        Preço total*
                    </label>
                    <input
                        type="text"
                        inputmode="decimal"
                        pInputText
                        class="w-full text-right"
                        required
                        [(ngModel)]="movement.priceTotal"
                        name="priceTotalMobile{{ i }}"
                        (input)="formatValue($event, i); movement.invalid = false"
                        placeholder="R$"
                    />
                </div>

                <!-- Comentário -->
                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                        Comentário
                    </label>
                    <input
                        pInputText
                        class="w-full"
                        [(ngModel)]="movement.description"
                        name="descriptionMobile{{ i }}"
                    />
                </div>

                <!-- Divider -->
                <div class="border-t border-gray-200 dark:border-gray-700 my-4"></div>

                <!-- Resumo -->
                <div class="grid grid-cols-3 gap-4 text-sm">
                    <div>
                        <p class="text-gray-500 dark:text-gray-400">UN. Compra</p>
                        <p class="font-medium text-gray-800 dark:text-neutral-100">
                            {{ movement.buyUnit }}
                        </p>
                    </div>

                    <div>
                        <p class="text-gray-500 dark:text-gray-400">UN. Requisição</p>
                        <p class="font-medium text-gray-800 dark:text-neutral-100">
                            {{ movement.requestUnit }}
                        </p>
                    </div>

                    <div class="text-right">
                        <p class="text-gray-500 dark:text-gray-400">Qtde. Total</p>
                        <p class="font-medium text-gray-800 dark:text-neutral-100">
                            {{ movement.totalQuantity }}
                        </p>
                    </div>
                </div>

                <!-- Divider -->
                <div class="border-t border-gray-200 dark:border-gray-700 my-4"></div>
                <div class="w-full">
                    <p-button
                        (click)="hideMovement(i)"
                        label="Confirmar"
                        rounded
                        severity="contrast"
                        styleClass="w-full block">
                    </p-button>

                    <p-button
                        (click)="deleteMovement(i)"
                        label="Remover"
                        rounded
                        severity="secondary"
                        styleClass="w-full block mt-4">
                    </p-button>
                </div>

                <div class="w-full" *ngIf="movement.invalid">
                    <div class="border-t border-gray-200 dark:border-gray-700 my-4"></div>
                    <p-message
                        severity="error"
                        styleClass="mb-2"
                        text="Preencha todos os campos obrigatórios (*)">
                    </p-message>
                </div>

            </div>
        </div>

    </div>

    <div
        *ngIf="showFinishOption"
        class="flex flex-col items-center w-full px-4 py-6 animate-fadein">

        <div
            class="w-full rounded-2xl border border-gray-200 dark:border-gray-700 shadow-md bg-white dark:bg-gray-900 p-6">

            <!-- Ícone / Destaque -->
            <div class="flex justify-center mb-4">
                <i class="pi pi-exclamation-circle text-4xl text-blue-600 dark:text-blue-400"></i>
            </div>

            <!-- Título -->
            <h2 class="text-center text-xl font-semibold mb-2">
                Confirmar movimentação
            </h2>

            <!-- Mensagem -->
            <p class="text-center text-sm text-gray-600 dark:text-gray-300 mb-6">
                Você está prestes a salvar a movimentação de estoque.
                <br/>
                Selecione a opção desejada abaixo.
            </p>

            <!-- Ações -->
            <div class="flex flex-col gap-3">

                <!-- Confirmar -->
                <p-button
                    (click)="submitDataMovement()"
                    label="Confirmar movimentação"
                    severity="success"
                    class="w-full"
                    styleClass="w-full">
                </p-button>

                <!-- Revisar -->
                <p-button
                    (click)="reShowItems()"
                    label="Revisar itens"
                    severity="secondary"
                    class="w-full"
                    styleClass="w-full"
                    type="button">
                </p-button>

            </div>
        </div>
    </div>

    <div
        *ngIf="successMessage"
        class="flex flex-col items-center w-full px-4 py-6 animate-fadein">

        <div
            class="w-full rounded-2xl border border-green-200 dark:border-green-700 shadow-md bg-white dark:bg-gray-900 p-6">

            <!-- Ícone de sucesso -->
            <div class="flex justify-center mb-4">
                <i class="pi pi-check-circle text-4xl text-green-600 dark:text-green-400"></i>
            </div>

            <!-- Título -->
            <h2 class="text-center text-xl font-semibold mb-2">
                Movimentação concluída
            </h2>

            <!-- Mensagem -->
            <p class="text-center text-sm text-gray-600 dark:text-gray-300 mb-6">
                A movimentação de estoque foi registrada com sucesso.
                <br/>
                Você pode continuar com uma nova operação ou voltar.
            </p>

            <!-- Ações -->
            <div class="flex flex-col gap-3">

                <!-- Nova movimentação -->
                <p-button
                    label="Nova movimentação"
                    (click)="restart()"
                    severity="success"
                    class="w-full"
                    styleClass="w-full"
                    type="button">
                </p-button>

                <!-- Voltar -->
                <p-button
                    (click)="router.navigate(['/'])"
                    label="Sair"
                    severity="secondary"
                    class="w-full"
                    styleClass="w-full"
                    type="button">
                </p-button>

            </div>
        </div>
    </div>

    <p-toast/>

    <!--    modal confirmation-->
    <app-modal classModal="z-50" [modalOpen]="openConfirmationModal" [confirmation]="true"
               (modalClose)="closeConfirmationModal()">
        <div>
            <h3 class="text-center mb-7">Confirma a transação?</h3>
            <div class="flex justify-around">
                <app-button (click)="closeConfirmationModal()" title="Cancelar"
                            classButton="btn bg-red-500 hover:bg-red-700"
                            textColor="text-black"></app-button>
                <app-button (click)="submitDataMovement()" title="Confirmar"></app-button>
            </div>
        </div>
    </app-modal>

    <app-modal [modalOpen]="openSupplierModal" (modalClose)="closeSupplierModal()">
        <form #supplierForm="ngForm" (ngSubmit)="submitDataSupplier(supplierForm)">
            <app-table>
                <tr class="bg-indigo-700 text-white" header>
                    <th>Nome*</th>
                    <th>CNPJ</th>
                    <th>Contato</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                <tr *ngFor="let supplier of sendSuppliers; let i = index" class="odd:bg-neutral-100" body>
                    <td>
                        <input
                            required
                            [(ngModel)]="supplier.name"
                            name="name{{i}}"
                            type="text"
                            placeholder="Digite aqui"
                            class="input input-bordered input-xs"
                            #ngSupplierName="ngModel"/>
                        <div *ngIf="ngSupplierName.invalid && formSubmitted">
                            <small *ngIf="ngSupplierName.errors?.['required']" class="text-red-600">Preenchimento
                                obrigatório.</small>
                        </div>
                    </td>
                    <td>
                        <input
                            [(ngModel)]="supplier.cnpj"
                            name="cnpj{{i}}"
                            type="text"
                            placeholder="Digite aqui"
                            class="input input-bordered input-xs"/>
                    </td>
                    <td>
                        <input
                            [(ngModel)]="supplier.contact"
                            name="contact{{i}}"
                            type="text"
                            placeholder="Digite aqui"
                            class="input input-bordered input-xs"/>
                    </td>
                    <td>
                        <input
                            [(ngModel)]="supplier.address"
                            name="address{{i}}"
                            type="text"
                            placeholder="Digite aqui"
                            class="input input-bordered input-xs"/>
                    </td>
                    <td>
                        <input
                            [(ngModel)]="supplier.phone"
                            name="phone{{i}}"
                            type="tel"
                            placeholder="Digite aqui"
                            class="input input-bordered input-xs"/>
                    </td>
                    <td>
                        <input
                            [(ngModel)]="supplier.email"
                            name="email{{i}}"
                            type="email"
                            placeholder="Digite aqui"
                            class="input input-bordered input-xs"/>
                    </td>
                    <td>
                        <span class="btn btn-outline btn-xs btn-error" (click)="removeRow(i)">-</span>
                    </td>
                </tr>
            </app-table>

            <span class="btn btn-outline btn-primary" (click)="addSupplier()">Adicionar</span>

            <div class="flex justify-around mt-10 w-full flex-col sm:flex-row">
                <app-button (click)="closeSupplierModal()" title="Cancelar" class="w-full"
                            classButton="btn bg-neutral-300 hover:bg-red-500 rounded-none w-full"
                            textColor="text-black"></app-button>
                <app-button typeButton="submit" title="Salvar Fornecedor" class="w-full"
                            classButton="btn bg-neutral-300 hover:bg-indigo-700 hover:text-white rounded-none w-full"></app-button>
            </div>
        </form>
    </app-modal>


    <div
        *ngIf="showQrCode"
        class="fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center z-50 px-4">

        <!-- Caixa do modal -->
        <div class="bg-white rounded-xl shadow-2xl w-full max-w-md p-6 relative flex flex-col items-center">

            <!-- Botão fechar -->
            <button
                type="button"
                class="absolute top-3 right-3 text-gray-400 hover:text-gray-700 text-lg font-bold"
                (click)="showQrCode = false">
                ✕
            </button>

            <!-- Ícone chamativo -->
            <div class="flex items-center justify-center bg-amber-100 rounded-full w-16 h-16 mb-4">
                <i class="pi pi-qrcode text-3xl text-amber-700"></i>
            </div>

            <!-- Título principal -->
            <h2 class="text-2xl font-bold text-center text-gray-800 mb-2">
                Escaneie e continue rapidamente!
            </h2>

            <!-- Subtítulo motivacional -->
            <p class="text-center text-gray-600 mb-4">
                Use seu celular para continuar o cadastro e ativar a <strong>leitura contínua de códigos de
                barras</strong>.
            </p>

            <!-- QR Code -->
            <div class="flex justify-center bg-gray-100 p-4 rounded-lg mb-4 relative">

                <qrcode
                    *ngIf="!qrExpired"
                    [qrdata]="endpoint"
                    [width]="200"
                    errorCorrectionLevel="M"
                    [allowEmptyString]="true">
                </qrcode>

                <div *ngIf="qrExpired"
                     (click)="checkBarcode()"
                     class="w-48 h-48 flex flex-col justify-center items-center
                            cursor-pointer rounded-lg
                            bg-white border border-dashed border-gray-400
                            hover:bg-gray-50 hover:border-gray-600
                            transition-all duration-200">
                    <span class="pi pi-refresh text-gray-700 text-3xl mb-2"></span>
                    <span class="text-sm text-gray-600 font-medium">Gerar novo QR Code</span>
                </div>
            </div>

            <!-- Benefícios rápidos -->
            <ul class="text-gray-600 text-sm list-disc list-inside mb-4 text-center">
                <li>Funciona diretamente na câmera do celular</li>
                <li>Permite escanear múltiplos códigos rapidamente</li>
                <li>Sem instalar apps adicionais</li>
            </ul>

            <!-- Aviso sobre permissão da câmera -->
            <p class="text-xs text-gray-500 text-center">
                Certifique-se de permitir o acesso à câmera no seu celular para usar a função de scanner.
            </p>

            <!-- Destaque da revisão de itens -->
            <div
                class="mt-4 w-full bg-red-50 border border-red-200 rounded-lg p-3 flex flex-col items-center text-center"
                *ngIf="missingBarcodesCount > 0">
                <div class="flex items-center gap-2 mb-2">
                    <i class="pi pi-exclamation-triangle text-red-600 text-lg"></i>
                    <span class="text-red-700 font-semibold">
                        Atenção: {{ missingBarcodesCount }} itens sem código de barras!
                    </span>
                </div>
                <p class="text-gray-700 text-sm mb-2">
                    Para que o catálogo funcione corretamente, todos os itens precisam ter código de barras cadastrado.
                </p>
                <button
                    class="bg-amber-500 hover:bg-amber-600 text-white font-semibold px-4 py-2 rounded-md shadow-sm transition"
                    (click)="router.navigate(['/estoque/catalogo-materiais'])">
                    Revisar agora
                </button>
            </div>

        </div>
    </div>
    <app-loading-overlay [loading]="loadingOverlay"></app-loading-overlay>
</div>
