<div class="flex mt-[3rem] h-fit" #top>
  <div class="w-full">
    <div class="pt-2 border-b w-full pl-2 flex items-center justify-between">
      <div class="breadcrumbs text-sm">
        <ul class="select-none">
          <li><a>Início</a></li>
          <li><a>Contratos</a></li>
          <li>Novo</li>
        </ul>
      </div>
      <h3 class="text-medium pr-5 hidden lg:block">Novo Contrato</h3>
    </div>

    <div class="border-b w-full pl-2 flex">
      <form
        #myForm="ngForm" (ngSubmit)="submitContrato(myForm)"
        class="p-2 flex flex-col">
        <div class="flex justify-between">
          <p class="select-none lower-text text-orange-700">Informe os dados do contrato e os itens</p>

          <div
            class="absolute border shadow rounded p-4 right-5 cursor-pointer transform transition-transform duration-300 hover:scale-105 hover:translate-x-2 hover:translate-y-2"
            (click)="contract.items.length > 0
                  ? showItems = true : utils.showMessage('Para visualizar os itens, é necessário adicionar pelo menos um item. ', true)">
            <div class="stats ">
              <div class="stat overflow-hidden">
                <div class="stat-title text-rose-900">Itens Adicionados</div>
                <div class="stat-value text-rose-900" [class.animate-pulse]="changeValue">{{ totalItems }}</div>
              </div>
            </div>
            <div class="stats">
              <div class="stat overflow-hidden">
                <div class="stat-title text-rose-900">Valor Total</div>
                <div class="stat-value text-rose-900" [class.animate-pulse]="changeValue">R$ {{ totalValue }}</div>
              </div>
            </div>
          </div>

        </div>

        <div class="flex space-x-4 flex-wrap mt-5 w-[70%]">
          <label class="form-control w-full max-w-xs ml-4">
            <div class="label">
              <span class="label-text">N.º Contrato</span>
            </div>
            <input type="number"
                   name="nomeMaterial"
                   class="input input-sm input-bordered w-full max-w-xs"
                   placeholder="Insira o Número"
                   required
                   [(ngModel)]="contract.number"
                   #ngNumeroContrato="ngModel"/>
            <div *ngIf="ngNumeroContrato.invalid && myForm.submitted ">
              <div *ngIf="ngNumeroContrato.invalid && myForm.submitted">
                <small *ngIf="ngNumeroContrato.errors?.['required']" class="text-red-600">Preenchimento
                  obrigatório.</small>
              </div>
            </div>
          </label>

          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">Contratante</span>
            </div>
            <input type="text"
                   name="nomeMaterial"
                   class="input input-sm input-bordered w-full max-w-xs"
                   placeholder="Cidade ou Prefeitura"
                   required
                   [(ngModel)]="contract.socialReason"
                   #ngContratante="ngModel"/>
            <div *ngIf="ngContratante.invalid && myForm.submitted">
              <div *ngIf="ngContratante.invalid && myForm.submitted">
                <small *ngIf="ngContratante.errors?.['required']" class="text-red-600">Preenchimento
                  obrigatório.</small>
              </div>
            </div>
          </label>

          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">Endereço</span>
            </div>
            <input type="text"
                   name="nomeMaterial"
                   class="input input-sm input-bordered w-full max-w-xs"
                   placeholder="Cidade ou Prefeitura"
                   required
                   [(ngModel)]="contract.socialReason"
                   #ngContratante="ngModel"/>
            <div *ngIf="ngContratante.invalid && myForm.submitted">
              <div *ngIf="ngContratante.invalid && myForm.submitted">
                <small *ngIf="ngContratante.errors?.['required']" class="text-red-600">Preenchimento
                  obrigatório.</small>
              </div>
            </div>
          </label>

          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">Telefone</span>
            </div>
            <input type="text"
                   name="nomeMaterial"
                   class="input input-sm input-bordered w-full max-w-xs"
                   placeholder="Cidade ou Prefeitura"
                   required
                   [(ngModel)]="contract.socialReason"
                   #ngContratante="ngModel"/>
            <div *ngIf="ngContratante.invalid && myForm.submitted">
              <div *ngIf="ngContratante.invalid && myForm.submitted">
                <small *ngIf="ngContratante.errors?.['required']" class="text-red-600">Preenchimento
                  obrigatório.</small>
              </div>
            </div>
          </label>

          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">CNPJ</span>
            </div>
            <input type="text"
                   name="nomeMaterial"
                   class="input input-sm input-bordered w-full max-w-xs"
                   placeholder="Cidade ou Prefeitura"
                   required
                   [(ngModel)]="contract.socialReason"
                   #ngContratante="ngModel"/>
            <div *ngIf="ngContratante.invalid && myForm.submitted">
              <div *ngIf="ngContratante.invalid && myForm.submitted">
                <small *ngIf="ngContratante.errors?.['required']" class="text-red-600">Preenchimento
                  obrigatório.</small>
              </div>
            </div>
          </label>

          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">Edital</span>
            </div>
            <input type="file" class="file-input file-input-sm" accept=".pdf"/>
          </label>

        </div>

        <div class="mt-4">
          <h4 class="poppins-regular select-none text-blue-700 mb-4">
            Selecione os Itens do Contrato
          </h4>

          <div class="h-[calc(100vh-450px)] overflow-auto">
            <div class="overflow-x-auto">
              <table class="table table-auto table-xs">
                <thead>
                <tr>
                  <th>Adicionar</th>
                  <th>Descrição</th>
                  <th class="w-96">Valor unitário*</th>
                  <th>Quantidade*</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of items; let i = index" [class.fade-out]="removingIndex === i">
                  <td>
                    <span
                      class="material-icons btn btn-neutral transition-transform transform hover:scale-110 active:rotate-90"
                      (click)="addItem(item, i)">
                      add
                    </span>
                  </td>

                  <td>{{item.description}}</td>
                  <td>
                    <input
                      type="text"
                      (input)="formatValue($event, i)"
                      placeholder="R$"
                      [(ngModel)]="item.price"
                      name="price{{i}}"
                      #ngValor="ngModel"
                      required
                    />
                    <div *ngIf="ngValor.invalid && myForm.submitted">
                      <small *ngIf="ngValor.errors?.['required']" class="text-red-600">Preenchimento
                        obrigatório.</small>
                    </div>
                  </td>
                  <td>
                    <input
                      type="number"
                      placeholder="Ex.: 2"
                      [(ngModel)]="item.quantity"
                      [disabled]="item.description.includes('SERVIÇO')"
                      (blur)="setServiceQuantity(item)"
                      name="quantity{{i}}"
                      #ngQtde='ngModel'
                      required
                    />
                    <div *ngIf="ngQtde.invalid && myForm.submitted">
                      <small *ngIf="ngQtde.errors?.['required']" class="text-red-600">Preenchimento
                        obrigatório.</small>
                    </div>
                  </td>

                  <!--                  <td>-->
                  <!--                    <input-->
                  <!--                      type="number"-->
                  <!--                      placeholder="Ex.: 2"-->
                  <!--                      class="input input-bordered input-sm w-16"-->
                  <!--                      [(ngModel)]="contract.qtde[i]"-->
                  <!--                      name="qtde{{i}}"-->
                  <!--                      [disabled]="!material.selected"-->
                  <!--                      title="{{!material.selected ? 'Necessário selecionar o Item' : ''}}"-->
                  <!--                      #ngQtde='ngModel'-->
                  <!--                      required-->
                  <!--                    />-->
                  <!--                    <div *ngIf="ngQtde.invalid && myForm.submitted && material.selected">-->
                  <!--                      <small *ngIf="ngQtde.errors?.['required']" class="text-red-600">Preenchimento obrigatório.</small>-->
                  <!--                    </div>-->
                  <!--                  </td>-->
                </tr>
                </tbody>
              </table>

            </div>


          </div>
          <button type="submit" class="btn btn-block bg-blue-700 text-neutral-100 mt-4 hover:bg-blue-900">
            Criar Contrato
          </button>
        </div>
      </form>

    </div>
  </div>

  <div *ngIf="utils.serverMessage">
    <app-screen-message [message]="utils.serverMessage" [alertType]="utils.alertType"></app-screen-message>
  </div>

  <app-modal [confirmation]="true" [modalOpen]="openModal" (modalClose)="openModal = false">
    <h2 class="text-center text-xl font-bold">Salvar contrato</h2>
    <p class="my-5 text-center">Confirma o salvamento do contrato?</p>
    <div class="flex justify-end space-x-4">
      <button class="btn btn-neutral material-icons text-xl">close<span class="text-xs">Cancelar</span></button>
      <button class="btn btn-primary material-icons text-xl">save<span class="text-xs">Salvar</span></button>
    </div>

  </app-modal>

  <app-modal [modalOpen]="showItems" (modalClose)="showItems = false"
             classModal="sm:w-[70%] overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
    <app-table [large]="true">
      <tr header>
        <th>Adicionar</th>
        <th>Descrição</th>
        <th class="w-96">Valor unitário</th>
        <th>Quantidade</th>
      </tr>
      <tr body *ngFor="let item of contract.items; let i = index" [class.fade-out]="removingIndexContract === i">
        <td class="material-icons btn btn-error" (click)="removeItem(item, i)">remove</td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
      </tr>
    </app-table>
  </app-modal>

</div>
