table input {
  max-width: 120px;
  background-color: inherit;
  color: #242424;
  padding: .15rem .5rem;
  min-height: 25px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0 10px 20px -18px;
}

table input:focus {
  border-bottom: 2px solid #5b5fc7;
  border-radius: 4px 4px 2px 2px;
}

table input:hover {
  outline: 1px solid lightgrey;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  table input {
    color: #e5e5e5; /* texto claro */
    box-shadow: 0 10px 20px -18px rgba(255, 255, 255, 0.1);
  }

  table input:focus {
    border-bottom: 2px solid #8aa0ff; /* azul claro */
  }

  table input:hover {
    outline: 1px solid #444;
  }

  tr.disabled * {
    background: #3a3a3a;
    color: #aaa;
  }
}
