<div class="flex mt-[3rem] h-fit" #top>
  <div class="w-full">
    <div class="pt-2 border-b w-full pl-2 flex items-center justify-between">
      <div class="breadcrumbs text-sm">
        <ul class="select-none">
          <li><a>Início</a></li>
          <li><a>Execuçoes</a></li>
          <li>Lista</li>
        </ul>
      </div>
      <h3 class="text-medium pr-5 hidden lg:block">{{measurement.measurement.address}}</h3>
    </div>


    <div class="border-b w-full pl-2 h-screen pt-2">
      <div class="border-b pb-5">

        <ol class="flex flex-wrap">
          <li *ngFor="let i of measurement.items; index as index;"
              class="cursor-pointer transform transition-transform duration-300 hover:scale-105 hover:translate-x-2 hover:translate-y-2 m-2">
            <div class="flex flex-col border rounded px-4 py-2">
          <span class="badge badge-success text-white rounded mb-4 mt-2">
            POSSUÍ ESTOQUE
          </span>
              <h3 class="text-base font-normal text-neutral-700">{{ i.material }}</h3>
              <span class="text-sm font-normal text-neutral-600">Quantidade: {{ i.materialQuantity }}</span>
              <span class="text-xs font-light">Estoque: 44</span>
            </div>
          </li>
        </ol>
      </div>
    </div>


  </div>
</div>
