<div class="flex mt-[3rem] h-fit" #top>
  <div class="w-full">
    <div class="pt-2 border-b w-full pl-2 flex items-center justify-between">
      <div class="breadcrumbs text-sm">
        <ul class="select-none">
          <li><a href="/">Início</a></li>
          <li><a>Execuçoes</a></li>
          <li>Pré-medição</li>
        </ul>
      </div>
      <h3 class="text-medium pr-5 hidden lg:block">Selecione uma cidade</h3>
    </div>

    <div class="flex w-full justify-center p-5">
      <div role="tablist" class="tabs tabs-bordered">
        <input type="radio" class="tab" aria-label="Pendente" checked/>
        <input type="radio" class="tab  transform transition-transform duration-300 hover:scale-90"
               aria-label="Validando" (click)="router.navigate(['/pre-medicao/validando'])"/>
        <input type="radio" class="tab  transform transition-transform duration-300 hover:scale-90"
               aria-label="Aguardando Retorno" (click)="router.navigate(['/pre-medicao/aguardando-retorno'])"/>
        <input type="radio" class="tab  transform transition-transform duration-300 hover:scale-90"
               aria-label="Validado" (click)="router.navigate(['/pre-medicao/validado'])"/>
      </div>
    </div>

    <div class="border-b w-full pl-2 h-screen pt-2">
      <ol class="flex flex-wrap">
        <li *ngFor="let p of preMeasurements; index as i;"
            class="w-96 cursor-pointer transform transition-transform duration-300 hover:scale-105 hover:translate-x-2 hover:translate-y-2 m-2"
            (click)="router.navigate(['pre-medicao/relatorio/' + p.preMeasurementId])">
          <div class="flex flex-col border rounded px-4 py-2 card-execution">
            <span class="badge {{p.preMeasurementStyle}} rounded mb-4 mt-2">
                {{ p.preMeasurementType === "INSTALLATION" ? "INSTALAÇÃO" : "MANUTENÇÃO" }}
            </span>

            <h3 class="text-xl text-neutral-800 leading-[1.15rem] font-light">Pré-medicao de {{ p.streets.length }} ruas
              com {{ getItemsQuantity(p.preMeasurementId) }} Itens em {{ p.city }}</h3>
            <span class="text-sm text-neutral-600 flex items-center">Por {{ p.createdBy }}<span
              class="material-icons text-sm ml-1 text-blue-500">verified</span></span>
            <span class="text-xs">{{ p.createdAt }} em {{ p.city }}</span>
          </div>
        </li>
      </ol>
    </div>

    <app-modal [modalOpen]="openModal" (modalClose)="openModal=false" classModal="rounded sm:w-[60rem]">
      <h3 class="text-center p-2">
        VALORES MEDIÇÃO EM {{ preMeasurementName.toUpperCase() }}
      </h3>
      <div class="report-base" #reportBase>
        <table>
          <tr class="report-base-header">
            <th>ITEM</th>
            <th>DESCRIÇÃO</th>
            <th>PREÇO UNITÁRIO</th>
            <th>QUANTIDADE EXECUTADA</th>
            <th class="report-base-total-price">VALORES</th>
          </tr>

          {{ resetLineNumber() }}

          <ng-container *ngFor="let relay of formula.relays; index as i;">
            <tr *ngIf="relay.quantity > 0">
              <td>{{ nextLine() }}</td>
              <td>RELÉ FOTOELETRONICO 1000W 105-305V</td>
              <td *ngIf="!submit">
                <input type="text"
                       placeholder="Insira o preço (R$)"
                       (input)="setPrice($event, i, 'relays')"
                       (blur)="setTotalPrice(i, 'relays')"
                       (focus)="removeTotalPrice(i, 'relays')"/>
              </td>
              <td *ngIf="submit">R$ {{ relay.price }}</td>
              <td>{{ relay.quantity }}</td>
              <td>R$ {{ relay.priceTotal }}</td>
            </tr>
          </ng-container>

          <ng-container *ngFor="let connector of formula.connectors; index as i">
            <tr *ngIf="connector.quantity > 0">
              <td>{{ nextLine() }}</td>
              <td>CONECTOR PERFURANTE DERIVAÇÃO 10-35MM² TIPO CDP70</td>
              <td *ngIf="!submit">
                <input type="text"
                       placeholder="Insira o preço (R$)"
                       (input)="setPrice($event, i, 'connectors')"
                       (blur)="setTotalPrice(i, 'connectors')"
                       (focus)="removeTotalPrice(i, 'connectors')"/>
              </td>
              <td *ngIf="submit">R$ {{ connector.price }}</td>
              <td>{{ connector.quantity }}</td>
              <td>R$ {{ connector.priceTotal }}</td>
            </tr>
          </ng-container>

          <ng-container *ngFor="let cable of formula.cables; index as i">
            <tr *ngIf="cable.quantity > 0">
              <td>{{ nextLine() }}</td>
              <td>CABO 1,5MM</td>
              <td *ngIf="!submit">
                <input type="text"
                       placeholder="Insira o preço (R$)"
                       (input)="setPrice($event, i, 'cables')"
                       (blur)="setTotalPrice(i, 'cables')"
                       (focus)="removeTotalPrice(i, 'cables')"/>
              </td>
              <td *ngIf="submit">R$ {{ cable.price }}</td>
              <td>{{ cable.quantity }}</td>
              <td>R$ {{ cable.priceTotal }}</td>
            </tr>
          </ng-container>

          <ng-container *ngFor="let screw of formula.screws; index as i;">
            <tr *ngIf="screw.quantity > 0">
              <td>{{ nextLine() }}</td>
              <td>PARAFUSOS DE FIXAÇÃO DAS CINTAS E BRAÇOS</td>
              <td *ngIf="!submit">
                <input type="text"
                       placeholder="Insira o preço (R$)"
                       (input)="setPrice($event, i, 'screws')"
                       (blur)="setTotalPrice(i, 'screws')"
                       (focus)="removeTotalPrice(i, 'screws')"/>
              </td>
              <td *ngIf="submit">R$ {{ screw.price }}</td>
              <td>{{ screw.quantity }}</td>
              <td>R$ {{ screw.priceTotal }}</td>
            </tr>
          </ng-container>

          <ng-container *ngFor="let strap of formula.straps; index as i;">
            <tr *ngIf="strap.quantity > 0">
              <td>{{ nextLine() }}</td>
              <td>CINTAS PARA FIXAÇÃO DE BRAÇOS</td>
              <td *ngIf="!submit">
                <input type="text"
                       placeholder="Insira o preço (R$)"
                       (input)="setPrice($event, i, 'straps')"
                       (blur)="setTotalPrice(i, 'straps')"
                       (focus)="removeTotalPrice(i, 'straps')"/>
              </td>
              <td *ngIf="submit">R$ {{ strap.price }}</td>
              <td>{{ strap.quantity }}</td>
              <td>R$ {{ strap.priceTotal }}</td>
            </tr>
          </ng-container>

          <ng-container *ngFor="let arm of formula.arms; index as i;">
            <tr *ngIf="arm.quantity > 0">
              <td>{{ nextLine() }}</td>
              <td>
                <span *ngIf="arm.description.toUpperCase() === '1,5M'">BRAÇO GALVANIZADO PADRÃO CEMIG ATÉ 1,5M</span>
                <span *ngIf="arm.description.toUpperCase() === '2,5M'">BRAÇO GALVANIZADO PADRÃO CEMIG ATÉ 2,5M</span>
                <span *ngIf="arm.description.toUpperCase() === '3,6M'">BRAÇO GALVANIZADO PADRÃO CEMIG ATÉ 3,6M</span>
              </td>
              <td *ngIf="!submit">
                <input type="text"
                       placeholder="Insira o preço (R$)"
                       (input)="setPrice($event, i, 'arms')"
                       (blur)="setTotalPrice(i, 'arms')"
                       (focus)="removeTotalPrice(i, 'arms')"/>
              </td>
              <td *ngIf="submit">R$ {{ arm.price }}</td>
              <td>{{ arm.quantity }}</td>
              <td>R$ {{ arm.priceTotal }}</td>
            </tr>
          </ng-container>

          <ng-container *ngFor="let ars of formula.armService; index as i;">
            <tr *ngIf="ars.quantity > 0">
              <td>{{ nextLine() }}</td>
              <td>SERVIÇO DE RECOLOCAÇÃO DE BRAÇOS</td>
              <td *ngIf="!submit">
                <input type="text"
                       placeholder="Insira o preço (R$)"
                       (input)="setPrice($event, i, 'armService')"
                       (blur)="setTotalPrice(i, 'armService')"
                       (focus)="removeTotalPrice(i, 'armService')"/>
              </td>
              <td *ngIf="submit">R$ {{ ars.price }}</td>
              <td>{{ ars.quantity }}</td>
              <td>R$ {{ ars.priceTotal }}</td>
            </tr>
          </ng-container>

          <ng-container *ngFor="let led of formula.leds; index as i;">
            <tr *ngIf="led.quantity > 0">
              <td>{{ nextLine() }}</td>
              <td>
                <span *ngIf="led.description.toUpperCase() === '50W'">LUMINÁRIA PARA ILUMINAÇÃO PÚBLICA LED 50W</span>
                <span *ngIf="led.description.toUpperCase() === '60W'">LUMINÁRIA PARA ILUMINAÇÃO PÚBLICA LED 60W</span>
                <span *ngIf="led.description.toUpperCase() === '70W'">LUMINÁRIA PARA ILUMINAÇÃO PÚBLICA LED 70W</span>
                <span *ngIf="led.description.toUpperCase() === '80W'">LUMINÁRIA PARA ILUMINAÇÃO PÚBLICA LED 80W</span>
                <span *ngIf="led.description.toUpperCase() === '100W'">LUMINÁRIA PARA ILUMINAÇÃO PÚBLICA LED 100W</span>
                <span *ngIf="led.description.toUpperCase() === '110W'">LUMINÁRIA PARA ILUMINAÇÃO PÚBLICA LED 110W</span>
                <span *ngIf="led.description.toUpperCase() === '120W'">LUMINÁRIA PARA ILUMINAÇÃO PÚBLICA LED 120W</span>
                <span *ngIf="led.description.toUpperCase() === '150W'">LUMINÁRIA PARA ILUMINAÇÃO PÚBLICA LED 150W</span>
              </td>
              <td *ngIf="!submit">
                <input type="text"
                       placeholder="Insira o preço (R$)"
                       (input)="setPrice($event, i, 'leds')"
                       (blur)="setTotalPrice(i, 'leds')"
                       (focus)="removeTotalPrice(i, 'leds')"/>
              </td>
              <td *ngIf="submit">R$ {{ led.price }}</td>
              <td>{{ led.quantity }}</td>
              <td>R$ {{ led.priceTotal }}</td>
            </tr>
          </ng-container>

          <ng-container *ngFor="let pi of formula.piService; index as i;">
            <tr *ngIf="pi.quantity > 0">
              <td>{{ nextLine() }}</td>
              <td>SERVIÇO DE EXECUÇÃO DE PROJETO POR IP</td>
              <td *ngIf="!submit">
                <input type="text"
                       placeholder="Insira o preço (R$)"
                       (input)="setPrice($event, i, 'piService')"
                       (blur)="setTotalPrice(i, 'piService')"
                       (focus)="removeTotalPrice(i, 'piService')"/>
              </td>
              <td *ngIf="submit">R$ {{ pi.price }}</td>
              <td>{{ pi.quantity }}</td>
              <td>R$ {{ pi.priceTotal }}</td>
            </tr>
          </ng-container>

          <ng-container *ngFor="let ls of formula.ledService; index as i;">
            <tr *ngIf="ls.quantity > 0">
              <td>{{ nextLine() }}</td>
              <td>SERVIÇO DE INSTALAÇÃO DE LUMINÁRIA EM LED</td>
              <td *ngIf="!submit"><input type="text"
                                         placeholder="Insira o preço (R$)"
                                         (input)="setPrice($event, i, 'ledService')"
                                         (blur)="setTotalPrice(i, 'ledService')"
                                         (focus)="removeTotalPrice(i, 'ledService')"/></td>
              <td *ngIf="submit">R$ {{ ls.price }}</td>
              <td>{{ ls.quantity }}</td>
              <td>R$ {{ ls.priceTotal }}</td>
            </tr>
          </ng-container>

          <ng-container *ngFor="let post of formula.posts; index as i;">
            <tr *ngIf="post.quantity > 0">
              <td>{{ nextLine() }}</td>
              <td>
                POSTE ORNAMENTAL FORNECIMENTO E INSTALAÇÃO DE POSTE ORNAMENTAL GALVANIZADO 8 M LIVRE, 4 PARA 3 1/2 COM
                SUPORTE PARA (03) TRÊS LUMINÁRIAS PUBLICA DE LED 100W, CERTIFICADA
                INMETRO – PORTARIA 20, INCLUINDO, MÃO DE OBRA ESPECIALIZADA, COM EQUIPAMENTOS DE SEGURANÇA INDIVIDUAL
                (EPI),
                EQUIPAMENTOS DE SEGURANÇA COLETIVA (EPC) E TODO MATERIAL NECESSARIO PARA REALIZAÇÃO DO SERVIÇO,
                ASSENTAMENTO
                E CAIXA DE PASSAGEM.
              </td>
              <td *ngIf="!submit"><input type="text"
                                         placeholder="Insira o preço (R$)"
                                         (input)="setPrice($event, i, 'posts')" (blur)="setTotalPrice(i, 'posts')"
                                         (focus)="removeTotalPrice(i, 'posts')"/></td>
              <td *ngIf="submit">R$ {{ post.price }}</td>
              <td>{{ post.quantity }}</td>
              <td>R$ {{ post.priceTotal }}</td>
            </tr>
          </ng-container>

          <ng-container *ngFor="let ls of formula.ledService; index as i;">
            <tr class="report-base-total">
              <td colspan="3">TOTAL DE LEDS INSTALADOS</td>
              <td>{{ ls.quantity }}</td>
              <td>R$ {{ totalPrice }}</td>
            </tr>
          </ng-container>

        </table>
      </div>
      <div class="flex w-full mt-10">
        <button class="btn rounded-none w-1/2" (click)="openModal = false" *ngIf="!submit">CANCELAR</button>
        <button class="btn rounded-none w-1/2" (click)="submit = false" *ngIf="submit">VOLTAR</button>
        <button class="btn  btn-warning rounded-none w-1/2" (click)="sendValues(reportBase)" *ngIf="submit" #submitBtn>
          CONTINUAR
        </button>
        <button class="btn  btn-warning rounded-none w-1/2" (click)="submit = true" *ngIf="!submit">PRONTO</button>
      </div>

    </app-modal>
  </div>

  <app-screen-message *ngIf="utils.serverMessage" [alertType]="utils.alertType" [message]="utils.serverMessage"
                      class="absolute right-0"></app-screen-message>
</div>
