<div>
  <p-toast></p-toast>
  @if (executions.length > 0) {
    @if(['WAITING_STOCKIST','WAITING_COLLECT','AVAILABLE_EXECUTION'].includes(getStatus())) {
      <p-table
      [value]="executions"
      class="mt-4 text-sm"
      dataKey="reservationManagementId"
      editMode="row"
      rowHover="true"
      responsiveLayout="scroll">

      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">#</th>
          <th class="text-left">Ordem de serviço</th>
          <th class="text-center">Estoquista</th>
          <th class="text-center">Equipe</th>
          <th class="text-left">{{ getStatus() === 'WAITING_STOCKIST' ? 'Criação' : 'Disponível' }}</th>
          <th class="text-center">+</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-execution let-editing="editing" let-i="rowIndex">
        <tr
          [pEditableRow]="execution"
          [ngClass]="{
            'transition-all duration-300 border-l-4 bg-amber-50 border-amber-400 dark:bg-amber-900/30 dark:border-amber-500': execution._updated,
            'transition-all duration-300 border-l-4 bg-rose-50 border-rose-400 dark:bg-rose-900/30 dark:border-rose-500': execution._deleted,
            'opacity-60 pointer-events-none': execution._saving
          }">
          <td class="text-center"
              [class.line-through]="execution._deleted"
              [class.opacity-60]="execution._deleted">
            {{ i + 1 }}
          </td>

          <td class="text-left truncate max-w-xs cursor-pointer"
              [title]="execution.description"
              [class.line-through]="execution._deleted"
              [class.opacity-60]="execution._deleted">
            {{ execution.description }}
          </td>

          @if(getStatus() === 'WAITING_STOCKIST') {
            <td class="text-center"
                [pEditableColumn]="execution.userId"
                pEditableColumnField="userId"
                [class.line-through]="execution._deleted"
                [class.opacity-60]="execution._deleted">

              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-dropdown
                    (onChange)="execution._updated = true"
                    [(ngModel)]="execution.userId"
                    [options]="users"
                    optionValue="userId"
                    optionLabel="name"
                    placeholder="Selecione outro usuário">
                  </p-dropdown>
                </ng-template>

                <ng-template pTemplate="output">
                  <app-editable-output>{{ getUser(execution.userId) }}</app-editable-output>
                </ng-template>
              </p-cellEditor>
            </td>

            <td class="text-center"
                [pEditableColumn]="execution.teamId"
                pEditableColumnField="teamId"
                [class.line-through]="execution._deleted"
                [class.opacity-60]="execution._deleted">

              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-dropdown
                    [(ngModel)]="execution.teamId"
                    (onChange)="execution._updated = true"
                    [options]="teams"
                    optionValue="idTeam"
                    optionLabel="teamName"
                    placeholder="Selecione outra equipe">
                  </p-dropdown>
                </ng-template>

                <ng-template pTemplate="output">
                  <app-editable-output>{{ getTeam(execution.teamId) }}</app-editable-output>
                </ng-template>
              </p-cellEditor>
            </td>
          }@else {
            <td class="text-center"
                [class.line-through]="execution._deleted"
                [class.opacity-60]="execution._deleted">
              {{ execution.userName }}
            </td>
            <td class="text-center"
                [class.line-through]="execution._deleted"
                [class.opacity-60]="execution._deleted">
              {{ execution.teamName }}
            </td>
          }

          <td class="text-left"
              [class.line-through]="execution._deleted"
              [class.opacity-60]="execution._deleted">
            <div class="flex flex-col">
                <span>
                  {{ execution.availableAt | date: 'dd/MM/yyyy' }}
                </span>
              <small class="text-color-secondary">
                {{ execution.availableAt | date: 'HH:mm' }}
              </small>
            </div>
          </td>

          <td class="text-center">
            <div class="flex justify-center item-center">
              @if (execution._saving) {
                <i class="pi pi-spin pi-spinner text-sm text-primary"></i>
              } @else {
                <button pButton icon="pi pi-times"
                        *ngIf="execution._updated || execution._deleted"
                        (click)="execution._updated = false; execution._deleted = false; cancelChange(execution);"
                        class="p-button-text p-button-sm p-button-danger">
                </button>

                <button pButton icon="pi pi-check"
                        *ngIf="execution._updated || execution._deleted"
                        (click)="saveChanges(execution)"
                        class="p-button-text p-button-sm p-button-success">
                </button>

                <button pButton icon="pi pi-trash"
                        *ngIf="!execution._updated && !execution._deleted"
                        class="p-button-text p-button-sm p-button-danger"
                        (click)="execution._deleted = true">
                </button>
              }
            </div>
          </td>

        </tr>

      </ng-template>
    </p-table>
    } @else {
      <p-table
        [value]="executions"
        dataKey="installation_id"
        responsiveLayout="scroll"
        class="mt-4 text-sm"
        [rowHover]="true"
      >
        <!-- HEADER -->
        <ng-template pTemplate="header">
          <tr>
            <th class="w-12 text-center">#</th>
            <th>Ordem de Serviço</th>
            <th>Equipe</th>
            <th>Início</th>
            <th *ngIf="getStatus() === 'FINISHED'">Fim</th>
            <th class="text-center">Ruas</th>
            <th class="w-20 text-center" *ngIf="getStatus() === 'FINISHED'">+</th>
          </tr>
        </ng-template>

        <!-- BODY -->
        <ng-template pTemplate="body" let-execution let-i="rowIndex">
          <tr
            class="transition-all duration-200"
            [ngClass]="{
        'opacity-60 pointer-events-none': execution._saving
      }"
          >
            <!-- Nº -->
            <td class="text-center font-medium text-color-secondary">
              {{ i + 1 }}
            </td>

            <!-- ORDEM DE SERVIÇO -->
            <td class="max-w-xs cursor-pointer">
              <div class="flex flex-col" [title]="execution.contractor">
                <span class="font-semibold truncate">
                  {{ execution.contractor }}
                </span>
                <small class="text-color-secondary">
                  Etapa {{ execution.step }}
                </small>
              </div>
            </td>

            <!-- EQUIPE -->
            <td class="truncate max-w-xs">
              {{ execution.team_name }}
            </td>

            <!-- INÍCIO -->
            <td>
              <div class="flex flex-col">
                <span>
                  {{ execution.started_at | date: 'dd/MM/yyyy' }}
                </span>
                <small class="text-color-secondary">
                  {{ execution.started_at | date: 'HH:mm' }}
                </small>
              </div>
            </td>

            <!-- FIM -->
            <td *ngIf="getStatus() === 'FINISHED'">
              <div class="flex flex-col" *ngIf="execution.finished_at; else emAndamento">
                <span>
                  {{ execution.finished_at | date: 'dd/MM/yyyy' }}
                </span>
                <small class="text-color-secondary">
                  {{ execution.finished_at | date: 'HH:mm' }}
                </small>
              </div>

              <ng-template #emAndamento>
          <span class="text-orange-500 font-medium">
            Em andamento
          </span>
              </ng-template>
            </td>

            <!-- RUAS -->
            <td class="text-center">
              <p-badge
                [value]="execution.streets?.length || 0"
                severity="info"
              ></p-badge>
            </td>

            <!-- AÇÃO PDF -->
            <td class="text-center" *ngIf="getStatus() === 'FINISHED'">
              <button
                pButton
                icon="pi pi-file-pdf"
                class="p-button-rounded p-button-text p-button-danger"
                title="Gerar Relatório"
                [loading]="execution._saving"
              >
              </button>
            </td>
          </tr>
        </ng-template>

        <!-- EMPTY MESSAGE -->
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7" class="text-center py-6 text-color-secondary">
              Nenhuma execução encontrada.
            </td>
          </tr>
        </ng-template>
      </p-table>

    }
  } @else if (!loading) {
    <div
      class="flex flex-1 items-center justify-center mt-32">

      <div
        class="flex flex-col items-center text-center
           px-8 py-10
           bg-white dark:bg-neutral-900
           border border-neutral-200 dark:border-neutral-800
           rounded-xl shadow-sm
           max-w-md w-full">

        <!-- Ícone -->
        <i class="pi pi-inbox text-6xl text-blue-400 dark:text-blue-500 mb-4"></i>

        <!-- Título -->
        <h3 class="text-sm font-semibold text-gray-800 dark:text-white mb-2">
          Nenhuma ordem de serviço {{ (statuses[status].title).lowerCase }} foi encontrada
        </h3>

      </div>

    </div>
  } @else {
    @if(['WAITING_STOCKIST','WAITING_COLLECT','AVAILABLE_EXECUTION'].includes(getStatus())) {
      <app-skeleton-table
        [columns]="['Nº','Ordem de Serviço','Status','Estoquista','Criação', 'Equipe', 'Ação']">
      </app-skeleton-table>
    } @else {
      <app-skeleton-table
        [columns]="['Nº','Ordem de Serviço','Status','Estoquista','Criação', 'Equipe', 'Ação']">
      </app-skeleton-table>
    }
  }
</div>
