<form [formGroup]="materialForm" (ngSubmit)="onSubmit()">
  <p><mat-slide-toggle labelPosition="before">Material inativo?</mat-slide-toggle></p>
  <div>
    <label>Float label: </label>
    <mat-radio-group [formControl]="floatLabelControl">
      <mat-radio-button value="auto">Auto</mat-radio-button>
      <mat-radio-button value="always">Always</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="flex">
    <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()" class="mr-2">
      <input matInput placeholder="Simple placeholder" required />
    </mat-form-field>

    <mat-form-field [floatLabel]="floatLabel()" class="mr-2">
      <mat-label>Both a label and a placeholder</mat-label>
      <input matInput placeholder="Simple placeholder" />
    </mat-form-field>

    <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()" class="mr-2">
      <mat-select required>
        <mat-option>-- Selecione --</mat-option>
        <mat-option *ngFor="let tipo of tipos" [value]="tipo.idTipo">{{ tipo.nomeTipo }}</mat-option>
      </mat-select>
      <mat-label><strong>Selecione um grupo...</strong></mat-label>
    </mat-form-field>
  </div>
</form>
