<div class="flex mt-[4rem] h-fit" #top>
  <div class="w-[85vw] xl:w-[60rem] 2xl:w-[75rem] mb-5 ">
    <div class="breadcrumbs text-sm py-5">
      <ul class="select-none">
        <li><a>Início</a></li>
        <li><a>Estoque</a></li>
        <li>Tipos</li>
      </ul>
    </div>

    <div role="tablist" class="tabs tabs-bordered w-full justify-center mb-5">
      <input type="radio" class="tab" aria-label="Tipos" checked/>
      <input type="radio" class="tab" aria-label="Materiais" (click)="router.navigate(['/estoque/materiais'])"/>
      <input type="radio" class="tab" aria-label="Grupos" (click)="router.navigate(['/estoque/grupos'])"/>
      <input type="radio" class="tab" aria-label="Almoxarifados" (click)="router.navigate(['/estoque/almoxarifados'])"/>
    </div>

    <!--    form    -->
    <div
      class="collapse border border-neutral-300 shadow rounded-none">
      <input
        #collapseDiv
        type="checkbox" class="peer" (click)="setOpen()"/>
      <div
        class="collapse-title text-primary-content">
        @if (!formOpen) {
          <div><p class="text-neutral-500">Clique para fazer um novo Cadastro</p></div>
        } @else {
          <div class="flex justify-end"><p class="material-icons text-neutral-800">close</p></div>
        }
      </div>
      <div
        class="collapse-content text-primary-content peer-checked: peer-checked:">
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)"
              class=" h-auto flex flex-col">
          <h4 class="border-b border-neutral-300 poppins-regular select-none text-neutral-700">{{
            state === State.create ? "Cadastrar Novo Tipo" : "Atualizar Tipo"
            }}</h4>

          <div class="flex space-x-4 flex-wrap text-neutral-700">

            <label class="form-control w-full max-w-xs">
              <div class="label">
                <span class="label-text">Descrição</span>
              </div>
              <input type="text"
                     name="typeName"
                     [(ngModel)]="type.typeName"
                     required
                     minlength="3"
                     #firstNameModel="ngModel"
                     placeholder="Insira o Nome" class="input input-bordered w-full max-w-xs"/>
              <div *ngIf="firstNameModel.invalid && formSubmitted">
                <small *ngIf="firstNameModel.errors?.['required']" class="text-red-600">Preenchimento
                  obrigatório.</small>
                <small *ngIf="firstNameModel.errors?.['minlength']" class="text-orange-600">
                  Nome do almoxarifado requer no mínimo 3 caracteres.
                </small>
              </div>
            </label>

            <label class="form-control w-full max-w-xs">
              <div class="label">
                <span class="label-text">Grupo</span>
              </div>
              <select
                class="select select-bordered"
                [(ngModel)]="type.groupId"
                name="groupId"
                required
                #unidadeCompraModel="ngModel">
                <option selected disabled>Selecione o grupo...</option>
                @for (g of gps; track g.idGroup) {
                  <option [value]="g.idGroup">{{ g.groupName }}</option>
                }
              </select>
              @if (unidadeCompraModel.invalid && formSubmitted) {
                @if (unidadeCompraModel.errors?.['required']) {
                  <small class="text-red-600">Preenchimento obrigatório.</small>
                }
              }
            </label>

            <div class="w-full flex border-t mt-10 p-6 border-neutral-300">
              <p>{{ message }}</p>
              <button class="btn btn-active btn-primary ml-auto" type="submit">{{
                state === State.create ? "Gravar" : "Atualizar"
                }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!--    table     -->
    <div class="border border-neutral-300 shadow mt-3 p-1">
      <app-table>
        <tr class="bg-indigo-700 text-white" header>
          <th>Código</th>
          <th>Descrição</th>
          <th>Grupo</th>
          <th colspan="2"></th>
        </tr>

        @for (t of types; track t.idType) {
          <tr class="odd:bg-neutral-100" body>
            <td>{{ t.idType }}</td>
            <td>{{ t.typeName }}</td>
            <td>{{ t.group.groupName }}</td>
            <td class="material-icons cursor-pointer" (click)="updateType(t)">edit</td>
            <td class="material-icons cursor-pointer text-red-600" (click)="typeId = t.idType; showConfirmation = true;">delete</td>
          </tr>
        }

      </app-table>
    </div>

    <app-modal [modalOpen]="showConfirmation" [confirmation]="true" (modalClose)="showConfirmation = false">
      <div>
        <h3 class="text-center mb-7">Confirma a exclusão?</h3>
        <div class="flex justify-around">
          <app-button (click)="showConfirmation = false" title="Cancelar" classButton="btn bg-red-500 hover:bg-red-700"
                      textColor="text-black"></app-button>
          <app-button (click)="deleteType()" title="Confirmar"></app-button>
        </div>
      </div>
    </app-modal>

    <app-alert-message [message]="serverMessage" [timeout]=5000 [alertType]="alertType"></app-alert-message>

  </div>
</div>
